---
import { getCollection } from "astro:content";
import Layout from "@/layouts/DocsLayout.astro";
import collection from "./_collection.ts";
import EditWithGithub from "@/components/EditWithGithub.astro";
import BreadCrumbs from "@/components/BreadCrumbs.astro";

export async function getStaticPaths() {
	const entries = await getCollection("docs");
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { pageTitle, title } = entry.data;
const { Content, headings } = await entry.render();
---

<Layout title={title} toc={headings} collectionName="Docs" collection={collection}>
	<h1>{pageTitle || title}</h1>
	<Content />
	<aside class="flex-wrap align gap text-muted" style="--my: 3rem 0" aria-label="Additional Meta">
		<BreadCrumbs class="hidden md:flex" />
		{entry.filePath && <EditWithGithub pathUrl={entry.filePath} class="italic" />}
	</aside>
</Layout>
