---
import Layout from "@/layouts/DocsLayout.astro";
import Code from "@/components/CodeBlock.astro";
import collection from "./_collection.ts";
---

<Layout title="Fylgja Docs" collectionName="Docs" collection={collection}>
	<h1>Getting Started</h1>
	<p>New to Fylgja? Here’s how to get started.</p>
	<p>
		The most straightforward way to begin is by using Fylgja as your CSS foundation. Although
		it's a library at its core, it’s designed to work like a framework out of the box.
	</p>
	<p>
		You can integrate Fylgja in several ways, but the easiest and most recommended approach is to
		use the meta package.
	</p>

	<h2>Using Fylgja</h2>
	<p>
		Fylgja is an HTML-first UI library that focuses on offering classless styling through Fylgja
		Base.
	</p>
	<p>
		This provides a solid starting point for any HTML element and is easily extendable with our
		other core packages:
	</p>
	<ul>
		<li>
			<strong>Fylgja Tokens:</strong> A design library that provides sensible defaults and
			consistency through CSS Props (Design Tokens).
		</li>
		<li>
			<strong>Fylgja Utilities:</strong> A curated list of CSS utilities.
		</li>
	</ul>
	<p>
		For more in-depth information about each package, explore the Fylgja Library documentation.
	</p>

	<h2>Installation & Quick Start</h2>
	<p>Install the meta package using npm:</p>
	<Code lang="sh" code="npm install fylgja" />
	<p>This single command installs the following essential packages:</p>
	<ul>
		<li><code>@fylgja/base</code>: Provides a solid foundation of base styles.</li>
		<li><code>@fylgja/tokens</code>: Offers a set of design tokens for consistent styling.</li>
		<li>
			<code>@fylgja/utilities</code>: Includes a curated collection of helpful CSS utilities.
		</li>
	</ul>
	<p>Once installed, you can import these packages into your project:</p>
	<Code
		lang="css"
		code=`@import "@fylgja/base";\n@import "@fylgja/tokens";\n@import "@fylgja/utilities";`
	/>
</Layout>