---
title: "Guides"
description: "Looking for help or is something unclear, look no further in the Fylgja guides."
permalink: "/{{ page.fileSlug }}/"
tags: ["docs", "started"]
layout: "docs"
hasToc: false
style: "
#guides {
    --aspect-ratio: 1/1;
    --card-radius: 8px;
    --card-elevation: none;
    --card-border: 1px solid rgb(0 0 0 / 12%);
    --avatar-size: 75px;
    --avatar-radius: 8px;
}
"
---

<p>Looking for help or is something unclear, look no further in the Fylgja guides.</p>

{% if collections.guides %}
<div id="guides" class="auto-grid">
    {%- for item in collections.guides -%}
    {% if item.data.title !== "Guides" %}
        <a href="{{ item.url }}" class="card card-content items-center flex-row">
            {% if item.data.thumb %}
                {%- set preview -%}./src/assets/images/{{ item.data.thumb }}{%- endset -%}
                <div class="avatar aspect-ratio me-4">
                    {% image preview, "", "thumbnail" %}
                </div>
            {% endif %}
            <div>
                <strong>{{ item.data.title }}</strong>
                {%- set strLimit %}50{%- endset -%}
                {% if item.data.description %}
                    <p class="text-small my-0">{{ item.data.description | truncate(strLimit) }}</p>
                {% else %}
                    <p class="text-small my-0">{{ item.templateContent | truncate(strLimit) }}</p>
                {% endif %}
            </div>
        </a>
    {% endif %}
    {%- endfor -%}
    <a href="https://github.com/fylgja/site/issues/new?&labels=enhancement&title=New%20Guide:"
        target="_blank"
        rel="noopener noreferrer"
        class="card card-content items-center flex-row">
        <div class="avatar p-3 me-4" style="--avatar-bg: #111; --avatar-color: #fff;">
            <svg width="50" height="50" fill="currentColor" class="w-full h-full">
                <use href="/images/socials.svg#github" />
            </svg>
        </div>
        <div>
            <strong>Add your own</strong>
            <p class="text-small my-0">Have written your own guide, share it here.</p>
        </div>
    </a>
</div>
{% else %}
{% include "todo.njk" %}
{% endif %}
