.code-box-grid {
    --offset-x: 3em;
    --offset-y: 8em;
    display: grid;
    grid-template-columns: var(--offset-x) 1fr var(--offset-x);
    grid-template-rows: var(--offset-y) 1fr var(--offset-y);
}

.code-box {
    position: relative;
    box-shadow: var(--elevation-z3);
    border-radius: 0.25rem;
    background-color: var(--code-bg, #f2f2f2);
    color: var(--code-color);
    overflow: hidden;
}

.code-box:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.code-box:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.code-box pre {
    margin: 0;
    border: 0;
    border-radius: 0;
    font-size: 0.875em;
    overflow: hidden;
}

.code-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.75em;
    border-bottom: 1px solid var(--code-box-header-stroke, rgb(0 0 0 / 20%));
}

.code-box-header .osx-close,
.code-box-header .osx-close::before,
.code-box-header .osx-close::after {
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
}

.code-box-header .osx-close::before,
.code-box-header .osx-close::after {
    content: "";
    position: absolute;
}

.code-box-header .osx-close {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0 1.2em;
    background-color: orange;
}

.code-box-header .osx-close::before {
    right: 100%;
    margin-right: 0.5em;
    background-color: red;
}

.code-box-header .osx-close::after {
    left: 100%;
    margin-left: 0.5em;
    background-color: green;
}

@media (min-width: 640px) {
    .code-box-grid {
        --offset-x: 8em;
        --offset-y: 3em;
    }
}

@media (min-width: 768px) {
    .code-box-grid {
        --offset-x: 16em;
        --offset-y: 2em;
    }
}

@media (min-width: 1024px) {
    .code-box-grid {
        --offset-x: 10em;
        --offset-y: 3em;
    }
}

@media (min-width: 1440px) {
    .code-box-grid {
        --offset-x: 16em;
        --offset-y: 2em;
    }
}
