.theme-sun {
    transform: scale(var(--scale, 0.5));
    transition: transform 0.5s cubic-bezier(0.25, 0, 0.2, 1);
    transform-origin: center;
}

.theme-sun-beams {
    --opacity-dur: 0.5s;
    transform: rotate(0.25turn);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.5, 1.5, 0.75, 1.25),
        opacity var(--opacity-dur) cubic-bezier(0.25, 0, 0.3, 1);
}

.theme-moon > circle {
    transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
}

:root[data-theme="dark"] {
    --scale: 1;
}

:root[data-theme="dark"] .theme-moon > circle {
    transform: translate(-20px);
}

:root[data-theme="dark"] .theme-sun-beams {
    opacity: 0;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --scale: 1;
    }

    :root:not([data-theme]) .theme-moon > circle {
        transform: translate(-20px);
    }

    :root:not([data-theme]) .theme-sun {
        transform: none;
    }

    :root:not([data-theme]) .theme-sun-beams {
        --opacity-dur: 0.15s;
        opacity: 0;
    }
}
