:root {
    /* prettier-ignore */
    --gradient-hero-img:
        linear-gradient(190deg, rgba(12, 57, 109, 1) 0%, rgba(0, 0, 0, 0) 40%),
        linear-gradient(170deg, rgba(115, 22, 117, 1) 0%, rgba(0, 0, 0, 0) 40%);
}

.home-grid {
    --cols-size: 400px;
}

.logo.-large svg {
    width: 18.75em;
    height: 8.125em;
    fill: var(--logo-color, url("#logog"));
}

#hero {
    --height: 64vmin;
    --bg: var(--hero-bg, #f7fafc);
    --img: var(--hero-img);
    --container-padding-y: 4rem;
    --container-padding-x: 1.25rem;
    --btn-font-size: 1.25rem;
}

.hero-nav {
    --container-size: 680px;
    --card-color: var(--color-text-alt);
    margin-block-start: -2.8rem;
}

.hero-nav svg {
    width: 2em;
    height: 2em;
}

#intro {
    --container-padding-y: 3em;
}

.code-box {
    box-shadow: var(--elevation-z1);
    border-radius: 0.25rem;
    background-color: var(--code-bg, #f2f2f2);
    color: var(--code-color);
    overflow: hidden;
}

.code-box pre {
    margin: 0;
    border: 0;
    border-radius: 0;
}

.code-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.75em;
    border-bottom: 1px solid var(--code-box-header-stroke, rgb(0 0 0 / 20%));
}

.code-box-header .osx-close,
.code-box-header .osx-close::before,
.code-box-header .osx-close::after {
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
}

.code-box-header .osx-close::before,
.code-box-header .osx-close::after {
    content: "";
    position: absolute;
}

.code-box-header .osx-close {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0 1.2em;
    background-color: orange;
}

.code-box-header .osx-close::before {
    right: 100%;
    margin-right: 0.5em;
    background-color: red;
}

.code-box-header .osx-close::after {
    left: 100%;
    margin-left: 0.5em;
    background-color: green;
}

.usp-section {
    --container-size: 640px;
}

#usp-points {
    --avatar-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    --avatar-bg: #f7df1e;
    --avatar-color: #000;
}

#usp-points .avatar.-icon-palette {
    --avatar-radius: 30% 70% 30% 70% / 56% 22% 78% 44%;
    --avatar-bg: #f43059;
    --avatar-color: #fff;
}

#usp-points-a11y {
    --avatar-radius: 71% 29% 64% 36% / 51% 60% 40% 49%;
    --avatar-bg: #609926;
    --avatar-color: #fff;
}

#usp-points-a11y .avatar.-icon-visibility {
    --avatar-radius: 64% 36% 64% 36% / 27% 60% 40% 73%;
    --avatar-bg: #1bb6f6;
    --avatar-color: #fff;
}

#contact {
    --container-size: 640px;
    --height: 300px;
    --bg: var(--hero-bg, #f7fafc);
}

.collection-row {
    --container-size: 640px;
    --card-elevation: var(--elevation-z1);
    --aspect-ratio: 1/1;
    --card-radius: 8px;
    --avatar-size: 75px;
    --avatar-bg: transparent;
    --avatar-color: inherit;
    --avatar-radius: 8px;
    --border-color: rgb(0 0 0 / 10%);
}

.collection-row .card {
    transition: box-shadow 0.2s ease-out;
}

.collection-row .card:hover {
    --card-elevation: var(--elevation-z4);
}

#collection-featured {
    content-visibility: auto;
    contain-intrinsic-size: 825px;
}

#usp-whats-in-the-📦 {
    content-visibility: auto;
    contain-intrinsic-size: 586px;
}

:root[data-theme="dark"] {
    --hero-bg: #0002;
    --logo-color: currentColor;
    --code-box-header-stroke: rgb(255 255 255 / 15%);
    --hero-img: var(--gradient-hero-img);
}

:root[data-theme="dark"] .collection-row {
    --border-color: rgb(255 255 255 / 20%);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --hero-bg: #0002;
        --logo-color: currentColor;
        --code-box-header-stroke: rgb(255 255 255 / 15%);
        --hero-img: var(--gradient-hero-img);
    }

    .collection-row {
        --border-color: rgb(255 255 255 / 20%);
    }
}

@media (min-width: 640px) {
    #intro {
        --container-padding-y: 5em;
        font-size: 1.125em;
    }

    #collection-featured {
        contain-intrinsic-size: 450px;
    }

    #usp-whats-in-the-📦 {
        contain-intrinsic-size: 665px;
    }
}

@media (min-width: 768px) {
    .collection-row {
        --aspect-ratio: 4/3;
        --avatar-size: auto;
        --aspect-img: contain;
    }
}

@media (min-width: 1024px) {
    .usp-section,
    #contact,
    .collection-row {
        --container-size: 1280px;
    }

    .collection-row {
        --cols: repeat(4, 1fr);
    }

    #usp-points,
    #usp-points-a11y {
        --cols-size: 450px;
    }

    #collection-featured {
        contain-intrinsic-size: 450px;
    }

    #usp-whats-in-the-📦 {
        contain-intrinsic-size: 665px;
    }
}

@media (min-width: 2200px) {
    .usp-section,
    #contact,
    .collection-row {
        --container-size: 1440px;
    }

    #usp-points,
    #usp-points-a11y {
        --cols-size: 600px;
    }
}
