/* stylelint-disable max-line-length */

:root {
    /* prettier-ignore */
    --gradient-hero-img:
        linear-gradient(190deg, hsl(212deg 80% var(--hero-l, 80%)) 0%, hsl(212deg 80% var(--hero-l, 80%) / 0%) 40%),
        linear-gradient(170deg, hsl(299deg 68% var(--hero-l, 80%)) 0%, hsl(299deg 68% var(--hero-l, 80%) / 0%) 40%);
}

#hero {
    --height: 64vmin;
    --bg: var(--hero-bg, hsl(213deg 95% 95% / 45%));
    --color: var(--hero-color);
    --img: var(--hero-img);
    --hero-img: var(--gradient-hero-img);
}

.hero-content {
    --container-padding-y: 4rem;
    color: var(--color-text);
}

.hero-content .btn {
    --btn-radius: 0;
    border-width: 2px;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .hero-content .subheading,
    .hero-content .btn.-outline {
        background-clip: text;
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-background-clip: text;
        background-image: var(
            --hero-content-gradient,
            linear-gradient(45deg, var(--color-alt), var(--color-theme))
        );
        color: var(--hero-content-text, transparent);
    }

    .hero-content .btn.-outline {
        border-image-source: var(
            --hero-content-gradient,
            linear-gradient(45deg, var(--color-alt), var(--color-theme))
        );
        border-image-slice: 1;
    }

    /* NOTE: Drop focus when new button style is added */
    .hero-content .btn.-outline:focus,
    .hero-content .btn.-outline:hover {
        filter: grayscale(0.5);
    }
}

.logo.-large svg {
    width: 18.75em;
    height: 8.125em;
    fill: var(--logo-color, url("#svg-gradient-logo"));
}

#features-list {
    --cols-size: 340px;
    --gap: 1em 1.5em;
}

#features-list .avatar {
    --avatar-bg: var(--color-theme);
    --avatar-color: var(--color-on-theme);
    position: relative;
    overflow: unset;
}

#features-list .avatar::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-color: var(--avatar-bg);
    transform: translate(0.6em, 0.6em) rotate(24deg);
    opacity: 0.3;
}

#features-list li {
    --avatar-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

#features-list li:nth-child(4n + 1) {
    --avatar-radius: 71% 29% 64% 36% / 51% 60% 40% 49%;
}

#features-list li:nth-child(4n + 2) {
    --avatar-radius: 30% 70% 30% 70% / 56% 22% 78% 44%;
}

#features-list li:nth-child(4n + 3) {
    --avatar-radius: 64% 36% 64% 36% / 27% 60% 40% 73%;
}

#features-box {
    max-width: 420px;
}

#collection-featured {
    --bg: var(--hero-bg, #f7fafc);
    content-visibility: auto;
    contain-intrinsic-size: 938px;
}

#contact {
    --height: 300px;
    content-visibility: auto;
    contain-intrinsic-size: var(--height);
}

.collection-row {
    --card-elevation: var(--elevation-z1);
    --aspect-ratio: 1/1;
    --avatar-size: 75px;
    --avatar-bg: transparent;
    --avatar-color: inherit;
    --avatar-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --hero-bg: #0002;
        --hero-color: var(--color-text-alt);
        --hero-l: 27%;
        --logo-color: currentcolor;
        --code-box-header-stroke: rgb(255 255 255 / 15%);
        --hero-content-gradient: none;
        --hero-content-text: currentcolor;
        --code-box-bg: #092c53;
    }
}

:root[data-theme="dark"] {
    --hero-bg: #0002;
    --hero-color: var(--color-text-alt);
    --hero-l: 27%;
    --logo-color: currentcolor;
    --code-box-header-stroke: rgb(255 255 255 / 15%);
    --hero-content-gradient: none;
    --hero-content-text: currentcolor;
    --code-box-bg: #092c53;
}

@media (min-width: 480px) {
    #collection-featured {
        contain-intrinsic-size: 602px;
    }
}

@media (min-width: 640px) {
    :root {
        --container-padding-x: 2rem;
    }

    #collection-featured {
        contain-intrinsic-size: 1018px;
    }
}

@media (min-width: 768px) {
    .collection-row {
        --aspect-ratio: 4/3;
        --avatar-size: auto;
        --aspect-img: contain;
    }
}

@media (min-width: 1024px) {
    .collection-row .auto-grid {
        --cols: repeat(4, 1fr);
    }

    #features-list {
        --cols-size: 380px;
    }

    #collection-featured {
        contain-intrinsic-size: 638px;
    }
}

@media (max-width: 1023px) {
    .collection-row,
    #contact {
        --container-size: 640px;
    }
}
