/* stylelint-disable property-no-vendor-prefix, scss/media-feature-value-dollar-variable */

:root {
    /* prettier-ignore */
    --gradient-hero-img:
        linear-gradient(
            190deg,
            hsl(212 80% var(--hero-l, 80%)) 0%,
            hsl(212 80% var(--hero-l, 80%) / 0%) 40%
        ),
        linear-gradient(
            170deg,
            hsl(299 68% var(--hero-l, 80%)) 0%,
            hsl(299 68% var(--hero-l, 80%) / 0%) 40%
        );
}

#hero {
    --height: min(64vmin, 620px);
    --bg: var(--hero-bg, hsl(213 95% 95% / 45%));
    --color: var(--hero-color);
    --img: var(--hero-img);
    --hero-img: var(--gradient-hero-img);
}

.hero-content {
    --container-padding-y: 4rem;
    --btn-font-size: clamp(1em, 1.25vw, 1.125em);
    color: var(--color-text);
}

:root[data-theme="light"] .hero-content .btn.-outline {
    --btn-color: var(--color-theme);
    --btn-focus-bg: var(--color-theme);
    --btn-focus-color: var(--color-on-theme);
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .hero-content .subheading {
        -webkit-background-clip: text;
        background-clip: text;
        background-image: var(
            --hero-content-gradient,
            linear-gradient(45deg, var(--color-alt), var(--color-theme))
        );
        color: var(--hero-content-text, transparent);
    }
}

.logo.-large svg {
    width: 18.75em;
    height: 8.125em;
    fill: var(--logo-color, url("#svg-gradient-logo"));
}

#features-list {
    --cols-size: 340px;
    --gap: 1.5rem;
}

#features-list li {
    --avatar-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

#features-list li:nth-child(4n + 1) {
    --avatar-radius: 71% 29% 64% 36% / 51% 60% 40% 49%;
}

#features-list li:nth-child(4n + 2) {
    --avatar-radius: 30% 70% 30% 70% / 56% 22% 78% 44%;
}

#features-list li:nth-child(4n + 3) {
    --avatar-radius: 64% 36% 64% 36% / 27% 60% 40% 73%;
}

#explore-fylgja {
    --bg: var(--hero-bg, #f7fafc);
    content-visibility: auto;
    contain-intrinsic-size: 938px;
}

#contact {
    --height: 300px;
    content-visibility: auto;
    contain-intrinsic-size: var(--height);
}

.collection-row {
    --card-elevation: var(--elevation-z1);
    --aspect-ratio: 1/1;
    --avatar-size: 75px;
    --avatar-bg: transparent;
    --avatar-color: inherit;
    --avatar-radius: 8px;
}

:root[data-theme="dark"] {
    --hero-bg: #0002;
    --hero-color: var(--color-text-alt);
    --hero-l: 27%;
    --logo-color: currentcolor;
    --code-box-header-stroke: rgb(255 255 255 / 15%);
    --hero-content-gradient: none;
    --hero-content-text: currentcolor;
    --code-box-bg: #092c53;
}

@media (min-width: 480px) {
    #collection-featured {
        contain-intrinsic-size: 602px;
    }
}

@media (min-width: 640px) {
    #collection-featured {
        contain-intrinsic-size: 1018px;
    }
}

@media (min-width: 768px) {
    .collection-row {
        --aspect-ratio: 4/3;
        --avatar-size: auto;
        --aspect-img: contain;
    }
}

@media (min-width: 1024px) {
    .collection-row .auto-grid {
        --cols: repeat(4, minmax(0, 1fr));
    }

    #features-list {
        --cols: repeat(2, minmax(0, 1fr));
        --gap: 2rem 3rem;
    }

    #features-list .avatar {
        --avatar-size: 3.5rem;
    }

    #features-list .avatar svg {
        width: 1.875rem;
        height: 1.875rem;
    }

    #collection-featured {
        contain-intrinsic-size: 638px;
    }
}

@media (max-width: 1023px) {
    .collection-row,
    #contact {
        --container-size: 640px;
    }
}
