---
import Layout from "@/layouts/PageLayout.astro";
const title = "Fylgja UI";
---

<Layout title={title} class="text-center align-center">
	<h1>{title}</h1>
	<p class="lead">Soon...</p>
	<p class="text-muted">We hard at work building the UI Components and this page.</p>
</Layout>
