<style>
#component-colors-grid {--cols-size: 180px}
#component-colors-grid dd {font-weight: bold; cursor: pointer}
#component-colors-grid dd span {opacity: 0; transition: opacity 0.2s}
#component-colors-grid dd:hover span {opacity: 1}
</style>
<p><em>Click the color to copy the variabel name to the clipboard</em></p>
<dl id="component-colors-grid" class="auto-grid">
{% for colorKey in tokens.colors.keys %}
<div>
<dt class="mb-2">{{ colorKey | replace('-', ' ') | capitalize }}</dt>
{% for color in tokens.colors[colorKey] %}
{%- set colorVar -%}--{{ colorKey }}-{{ loop.index0 }}{%- endset -%}
<dd class="py-1 px-2" onclick="navigator.clipboard.writeText('{{ colorVar }}');" style="background-color: {{ color }}; color: {{ '#fff' if loop.index0 > 8 else '#000' }}">
<span>{{ colorVar }}</span>
</dd>
{% endfor %}
</div>
{% endfor %}
</dl>
