<style>
#component-colors-grid {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: minmax(auto, 1fr);
    text-transform: capitalize;
    font-variant-numeric: tabular-nums;
}
#component-colors-grid dt { font-size: 1.125rem; }
#component-colors-grid .colors-grid { gap: 2px; }
#component-colors-grid dd {
    display: grid;
    place-items: center;
    border: 1px solid hsl(0 0% 0% / 10%);
    border-radius: 3px;
    aspect-ratio: 1;
    flex: 0 1 60px;
    transition: scale 0.2s;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}
#component-colors-grid dd span { opacity: 0; transition: opacity 0.2s }
@media (min-width: 640px) (hover: hover) {
    #component-colors-grid dd:hover { scale: 1.5 }
    #component-colors-grid dd:hover span { opacity: 1 }
}
@media (min-width: 1024px) {
    #component-colors-grid { grid-template-columns: auto 1fr; gap: 0.5rem 1rem; }
    #component-colors-grid dd { aspect-ratio: 4/3; }
}
</style>
<dl id="component-colors-grid" aria-label="Fylgja Color Tokens List">
{% for colorKey in tokens['colors-v1'].keys %}
<dt class="mt-1 lg-mt-0">{{ colorKey }}</dt>
<div class="colors-grid flex">
{% for color in tokens['colors-v1'][colorKey] %}
<dd aria-label="{{ colorKey }} {{ loop.index0 }}" style="background: {{ color }}; color: {{ tokens['colors-v1'][colorKey][0] if loop.index0 > 5 else tokens['colors'][colorKey][12] }}"><span>{{ loop.index0 }}</span></dd>
{% endfor %}
</div>
{% endfor %}
</dl>
