<div class="mt-12 text-small slant-italic">
    Noticed a typo or is something unclear?
    <a href="https://github.com/fylgja/site/blob/main/{{ page.inputPath }}">Help us improve this page on GitHub.</a>
</div>
