<footer class="page-footer">
    <div class="container auto-grid">
        {% if navigation.about %}
            <nav id="about-menu" aria-label="About us Menu">
                <strong class="block mb-4">About</strong>
                <ul class="list-style -none space-y-2">
                    {% for item in navigation.about %}
                        <li>
                            {% menuItem item.url, "", page.url, item.external %}
                                {{ item.text }}
                            {% endmenuItem %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        {% if navigation.support %}
            <nav id="support-menu" aria-label="Support Menu">
                <strong class="block mb-4">Guides</strong>
                <ul class="list-style -none space-y-2">
                    {% for item in navigation.support %}
                        <li>
                            {% menuItem item.url, "", page.url, item.external %}
                                {{ item.text }}
                            {% endmenuItem %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <nav id="features-menu" aria-label="Features Menu">
            <strong class="block mb-4">Features</strong>
            <ul class="list-style -none space-y-2">
                {% for item in collections.features | sortByOrder %}
                    <li>
                        {% menuItem item.url, "", page.url, item.external %}
                            {{ item.data.title }}
                        {% endmenuItem %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav id="follow-us-menu" aria-label="Follow use">
            <strong class="block mb-4">Find us also on</strong>
            <ul class="list-style -none space-y-2">
                {% for item in navigation.socials %}
                    <li>
                        {% menuItem item.url, "flex items-center", page.url, item.external %}
                            <svg width="20" height="20" fill="currentColor" class="me-2">
                                <use href="/images/socials.svg#{{ item.icon }}" />
                            </svg>
                            <span>{{ item.text }}</span>
                        {% endmenuItem %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="sub-footer">
        <div class="sm-flex container items-center justify-between">
            <div><small class="copyright">© {% year %} {{ meta.siteName }}. All Rights Reserved.</small></div>
            <div class="flex items-center justify-between">
                <button data-toggle-color-scheme
                    type="button"
                    title="Toggle color scheme"
                    class="btn -icon"
                >{{ '/src/assets/images/color-scheme.svg' | svgContents | safe }}</button>
            </div>
        </div>
    </div>
</footer>
