<footer class="page-footer">
    <div class="container auto-grid">
        {% if navigation.about %}
            <nav id="about-menu" aria-label="About us Menu">
                <strong class="block mb-4">About</strong>
                <ul class="list-style -none space-y-2">
                    {% for item in navigation.about %}
                        <li>
                            <a href="{{ item.url }}"
                                {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
                                {% if page.url==item.url %}class="is-active"{% endif %}
                                {% if page.url==item.url %}aria-current="page"{% endif %}>{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        {% if navigation.support %}
            <nav id="support-menu" aria-label="Support Menu">
                <strong class="block mb-4">Guides</strong>
                <ul class="list-style -none space-y-2">
                    {% for item in navigation.support %}
                        <li>
                            <a href="{{ item.url }}"
                                {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
                                {% if page.url==item.url %}class="is-active"{% endif %}
                                {% if page.url==item.url %}aria-current="page"{% endif %}>{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <nav id="features-menu" aria-label="Features Menu">
            <strong class="block mb-4">Features</strong>
            <ul class="list-style -none space-y-2">
                {% for item in collections.features | sortByOrder %}
                    <li>
                        <a href="{{ item.url }}"
                            {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
                            {% if page.url==item.url %}class="is-active"{% endif %}
                            {% if page.url==item.url %}aria-current="page"{% endif %}>{{ item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav id="follow-us-menu" aria-label="Follow use">
            <strong class="block mb-4">Find us also on</strong>
            <ul class="list-style -none space-y-2">
                {% for item in navigation.socials %}
                    <li>
                        <a href="{{ item.url }}"
                            class="flex"
                            {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}>
                            {{ item.icon | svgContents("me-2") | safe }}
                            <span>{{ item.text }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="sub-footer">
        <div class="flex container items-center justify-between">
            <small class="copyright">
                © {% year %} {{ meta.siteName }}. All Rights Reserved.<br>
            </small>
            <button data-toggle-color-scheme
                type="button"
                title="Toggle color scheme"
                class="btn -icon"
            >{{ '/src/_static/icons/color-scheme.svg' | svgContents | safe }}</button>
        </div>
    </div>
</footer>
