<a href="#page-main" class="skip-link">Go to main content</a>
<header class="page-header sticky top-0">
    <div class="flex items-center py-2 md-py-4 container">
        <a href="/" class="logo flex-shrink me-auto">
            {{ "/src/assets/images/logo.svg" | svgContents | safe }}
            <div class="aria-only">Go back to the Fylgja Homepage</div>
        </a>
        {% include "search.njk" %}
        {% if navigation.main %}
            <nav id="main-menu"
                aria-label="Main menu"
                class="menu -row hidden md-inline-flex items-center flex-shrink ms-6 space-x-2">
                {% for item in navigation.main %}
                    {% if item.icon %}
                        {% menuItem item.url, "btn -icon", page.url, item.external %}
                            <svg width="22" height="22" fill="currentColor">
                                <title>{{ item.text }}</title>
                                <use href="{{ '/images/socials.svg' | assetUrl }}#{{ item.icon }}" />
                            </svg>
                        {% endmenuItem %}
                    {% else %}
                        {% menuItem item.url, "", page.url, item.external %}
                            <span>{{ item.text }}</span>
                        {% endmenuItem %}
                    {% endif %}
                {% endfor %}
                {% include "theme-toggle.njk" %}
            </nav>
        {% endif %}
        <button id="show-offcanvas-menu" type="button" class="btn -icon md-hidden ms-2">
            <svg width="24" height="24" fill="currentColor">
                <title>Open menu</title>
                <use href="{{ '/images/sprite.svg' | assetUrl }}#menu" />
            </svg>
        </button>
    </div>
</header>
{% include "offcanvas.njk" %}
