<a href="#page-main" class="skip-link">Go to main content</a>
<header class="page-header sticky top-0">
    <div class="flex items-center py-2 md-py-4 container">
        <a href="/" class="logo flex-shrink me-auto">
            <svg width="76" height="38" fill="currentColor">
                <title>{{ meta.siteName }}</title>
                <use href="/images/sprite.svg#logo" />
            </svg>
        </a>
        {% include "search.njk" %}
        {% if navigation.main %}
            <nav id="main-menu"
                aria-label="Main menu"
                class="menu -row hidden md-inline-flex items-center flex-shrink ms-6 space-x-2">
                {% for item in navigation.main %}
                    {% if item.icon %}
                        {% menuItem item.url, "btn -icon", page.url, item.external %}
                            <svg width="18" height="18" fill="currentColor">
                                <title>{{ item.text }}</title>
                                <use href="/images/socials.svg#{{ item.icon }}" />
                            </svg>
                        {% endmenuItem %}
                    {% else %}
                        {% menuItem item.url, "", page.url, item.external %}
                            <span>{{ item.text }}</span>
                        {% endmenuItem %}
                    {% endif %}
                {% endfor %}
            </nav>
        {% endif %}
        {% if navigation.socials %}
            <div class="icons ms-6 space-x-1 hidden sm-inline-flex">
                {% for item in navigation.socials %}
                    {% menuItem item.url, "btn -icon", page.url, item.external %}
                        <svg width="18" height="18" fill="currentColor">
                            <title>{{ item.text }}</title>
                            <use href="/images/socials.svg#{{ item.icon }}" />
                        </svg>
                    {% endmenuItem %}
                {% endfor %}
            </div>
        {% endif %}
        <button id="show-offcanvas-menu" type="button" class="btn -icon md-hidden ms-2">
            <svg width="24" height="24" fill="currentColor">
                <title>Open menu</title>
                <use href="/images/sprite.svg#menu" />
            </svg>
        </button>
    </div>
</header>
{% include "offcanvas.njk" %}
