{{ '/src/assets/images/color-scheme-mask.svg' | svgContents | safe }}
<a href="#page-main" class="skip-link">Go to main content</a>
<header class="page-header sticky top-0">
    <div class="flex items-center py-3 md-py-4 container">
        <a href="/" class="logo flex-shrink me-auto">
            {{ "/src/assets/images/logo.svg" | svgContents | safe }}
            <div class="aria-only">Go back to the Fylgja Homepage</div>
        </a>

        {% if navigation.main %}
            <div class="hidden md-inline-flex">
                <nav
                    id="main-menu"
                    aria-label="Main menu"
                    class="menu -row items-center flex-shrink ms-6 me-4 space-x-2"
                >
                    {% for item in navigation.main %}
                        {% menuItem item.url, "", item.external, page.url %}
                            {{ item.text }}
                        {% endmenuItem %}
                    {% endfor %}
                </nav>
            </div>
        {% endif %}
        <div class="icons inline-flex ms-4 lg-ms-8">
            <div id="docsearch"></div>
            <div class="hidden xs-flex space-x-2 ms-2 sm-space-x-4 sm-ms-4 lg-ms-8">
                {% menuItem "https://github.com/fylgja/fylgja", "btn -icon", true %}
                    <svg width="24" height="24" fill="currentcolor">
                        <title>Visit the Fylgja Github repo</title>
                        <use href="{{ '/images/socials.svg' | assetUrl }}#github" />
                    </svg>
                {% endmenuItem %}
                {% include "theme-toggle.njk" %}
            </div>
            <button id="show-offcanvas-menu" type="button" class="offcanvas-menu-icon btn -icon md-hidden ms-4">
                <svg width="24" height="24" fill="currentcolor">
                    <title>Open menu</title>
                    <use href="{{ '/images/sprite.svg' | assetUrl }}#menu" />
                </svg>
            </button>
        </div>
    </div>
</header>
{% include "offcanvas.njk" %}
