{"@context": "https://schema.org", "@type": "Organization", "name": "{{ meta.siteName }}", "url": "{{ meta.url }}", "logo": "{{ meta.url }}/images/logo-icon.png", "sameAs": ["{{ meta.socials.mastodon.url }}", "{{ meta.socials.twitter.url }}", "{{ meta.socials.github.url }}"]}
