{"@context": "https://schema.org", "@type": "Organization", "name": "{{ meta.siteName }}", "url": "{{ meta.url }}", "logo": "{{ meta.url }}/images/logo-icon.png", "sameAs": ["https://twitter.com/{{ meta.socials.twitter }}/", "https://github.com/{{ meta.socials.github }}/"]}
