{% if navigation.main %}
    <dialog id="offcanvas-menu" class="offcanvas-end py-0 px-2">
        <div class="flex justify-between items-center py-3 px-2">
            <a href="/" class="logo">
                {{ "/src/assets/images/logo.svg" | svgContents | safe }}
            </a>
            <button type="button" class="btn -icon close">
                <svg width="24" height="24" fill="currentColor">
                    <title>Close menu</title>
                    <use href="{{ '/images/sprite.svg' | assetUrl }}#close" />
                </svg>
            </button>
        </div>
        <div class="dialog-inner flex-auto">
            <nav aria-label="Offcanvas menu">
                <ul class="menu">
                    {%- for item in collections.started | sortByOrder -%}
                    <li>
                        {% menuItem item.url, "", item.external, page.url %}
                            {{ item.data.title }}
                        {% endmenuItem %}
                    </li>
                    {%- endfor -%}
                    <li>
                        {% menuItem "/components/", "", page.url %}
                            <span>Components</span>
                        {% endmenuItem %}
                        <ul class="menu -nested">
                            {%- for items in collections.componentsGroup -%}
                                {% if items.title !== "Featured" %}
                                <li>
                                    <details class="text-small my-0">
                                        <summary class="btn block weight-light">
                                            <span class="caret me-2"></span>
                                            {{ items.title }}
                                        </summary>
                                        <ul class="menu">
                                            {%- for item in items.data | sortByName -%}
                                                {% if not item.data.altlink %}
                                                <li>
                                                    {% menuItem item.url, "", item.external, page.url %}
                                                        {{ item.data.title }}
                                                    {% endmenuItem %}
                                                </li>
                                                {%- endif %}
                                            {%- endfor -%}
                                        </ul>
                                    </details>
                                </li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </li>
                    <li>
                        {% menuItem "/features/", "", false, page.url %}
                            <span>Features</span>
                        {% endmenuItem %}
                        <ul class="menu">
                            {%- for item in collections.features | sortByOrder -%}
                            <li class="text-small">
                                {% menuItem item.url, "", item.external, page.url %}
                                    {{ item.data.title }}
                                {% endmenuItem %}
                            </li>
                            {%- endfor -%}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="py-4 px-2">
            <nav aria-label="Offcanvas extra menu" class="footer-nav flex">
                {% for item in navigation.socials %}
                    {% menuItem item.url, "btn -icon me-1", page.url, item.external %}
                        <svg width="24" height="24" fill="currentColor">
                            <title>{{ item.text }}</title>
                            <use href="{{ '/images/socials.svg' | assetUrl }}#{{ item.icon }}" />
                        </svg>
                    {% endmenuItem %}
                {% endfor %}
                <div class="ms-auto">
                    <button
                        title="Toggle color scheme"
                        class="btn -icon"
                        data-toggle-preference
                        aria-label="auto"
                        aria-live="polite">
                        {{ '/src/assets/images/color-scheme.svg' | svgContents | safe }}
                    </button>
                </div>
            </nav>
        </div>
    </dialog>
{% endif %}
