{% if navigation.main %}
    <dialog id="offcanvas-menu" class="offcanvas-end py-0 px-2">
        <div class="flex justify-between items-center py-3 px-2">
            <a href="/" class="logo">
                <svg width="72" height="24" fill="currentColor">
                    <title>Fylgja</title>
                    <use href="/images/sprite.svg#logo" />
                </svg>
            </a>
            <button type="button" class="btn -icon close">
                <svg width="24" height="24" fill="currentColor">
                    <title>Close menu</title>
                    <use href="/images/sprite.svg#close" />
                </svg>
            </button>
        </div>
        <div class="dialog-inner flex-auto">
            <nav class="menu" aria-label="Offcanvas menu">
                <ul>
                    {%- for item in collections.started | sortByOrder -%}
                    <li>
                        <a href="{{ item.url }}"{% if page.url == item.url %} aria-current="page" class="is-active"{% endif %}>
                            {{ item.data.title }}
                        </a>
                    </li>
                    {%- endfor -%}
                    <li>
                        <a href="/components/"
                            {% if page.url == "/components/" %}class="is-active"{% endif %}
                            {% if page.url == "/components/" %}aria-current="page"{% endif %}>
                            <span>Components</span>
                        </a>
                        <ul class="menu-nested">
                            {%- for items in collections.componentsGroup -%}
                                {% if items.title !== "Featured" %}
                                <li>
                                    <details class="text-small my-0">
                                        <summary class="btn block weight-light">
                                            <span class="caret me-2"></span>
                                            {{ items.title }}
                                        </summary>
                                        <ul class="mb-1" style="--menu-margin: 0 0 0.5em;">
                                            {%- for item in items.data | sortByName -%}
                                                {% if not item.data.altlink %}
                                                <li>
                                                    <a href="{{ item.url }}"
                                                    {% if page.url == item.url %}aria-current="page" class="is-active"{% endif %}
                                                    >{{ item.data.title }}</a>
                                                </li>
                                                {%- endif %}
                                            {%- endfor -%}
                                        </ul>
                                    </details>
                                </li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </li>
                    <li>
                        <a href="/features/"
                            {% if page.url == "/features/" %}class="is-active"{% endif %}
                            {% if page.url == "/features/" %}aria-current="page"{% endif %}>
                            <span>Features</span>
                        </a>
                        <ul>
                            {%- for item in collections.features | sortByOrder -%}
                            <li class="text-small">
                                <a href="{{ item.url }}"{% if page.url == item.url %} aria-current="page" class="is-active"{% endif %}>
                                    {{ item.data.title }}
                                </a>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="py-4 px-2">
            <nav  aria-label="Offcanvas extra menu" class="footer-nav flex">
                {% for item in navigation.socials %}
                    <a href="{{ item.url }}"
                        class="btn -icon me-1 {% if page.url==item.url %} is-active{% endif %}"
                        {% if page.url==item.url %}aria-current="page"{% endif %}
                        {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
                        title="{{ item.text }}">
                        {{ item.icon | svgContents("block") | safe }}
                    </a>
                {% endfor %}
                <button data-toggle-color-scheme
                    type="button"
                    title="Toggle color scheme"
                    class="btn -icon ms-auto"
                >{{ '/src/_static/icons/color-scheme.svg' | svgContents | safe }}</button>
            </nav>
        </div>
    </dialog>
{% endif %}
