{# Markdown import compatible, no indentation #}
<style>
#related {
--aspect-ratio: 1;
--avatar-radius: 6px;
--avatar-bg: transparent;
}
</style>
<h2>Related components</h2>
<p>Components that set the correct foundation or add accessible supporting functions.</p>
<div id="related" class="auto-grid">
{%- for item in collections.a11y -%}
{% if not item.data.draft %}
<a href="{{ item.url }}" class="card card-content flex-row">
{% if item.data.preview %}
{% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
<div class="avatar aspect-ratio me-4 border">
{% image preview, "", "thumbnail" %}
</div>
{% endif %}
<div>
<strong>{{ item.data.title }}</strong>
{%- set strLimit %}50{%- endset -%}
{% if item.data.description %}
<p class="text-small">{{ item.data.description | truncate(strLimit) }}</p>
{% else %}
<p class="text-small">{{ item.templateContent | truncate(strLimit) }}</p>
{% endif %}
</div>
</a>
{% endif %}
{%- endfor -%}
</div>
