{# Markdown import compatible, no indentation #}
<style>
#related {
--aspect-ratio: 1/1;
--avatar-radius: 6px;
--avatar-bg: transparent;
}

#related :any-link:not(:hover) {
--border-color: rgb(0 0 0 / 10%)
}

@media (prefers-color-scheme: dark) {
:root:not([data-theme="light"]) #related :any-link:not(:hover) {
--border-color: rgb(255 255 255 / 20%);
}
}

:root[data-theme="dark"] #related :any-link:not(:hover) {
--border-color: rgb(255 255 255 / 20%);
}
</style>
<h2>Related components</h2>
<p>Components that require no additional CSS classes to work.</p>
<div id="related" class="auto-grid">
{%- for item in collections.nativeElements -%}
{% if not item.data.altlink %}
<a href="{{ item.url }}" class="card card-content flex-row">
{% if item.data.preview %}
{% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
<div class="avatar aspect-ratio me-4 border">
{% image preview, "", "thumbnail" %}
</div>
{% endif %}
<div>
<strong>{{ item.data.title }}</strong>
{%- set strLimit %}50{%- endset -%}
{% if item.data.description %}
<p class="text-small">{{ item.data.description | limit(strLimit) }}</p>
{% else %}
<p class="text-small">{{ item.templateContent | excerpt(strLimit) }}</p>
{% endif %}
</div>
</a>
{% endif %}
{%- endfor -%}
</div>
