<button type="button" id="searchbox-toggle" class="btn -icon sm-hidden ms-2" onclick="toggleSearch()">
    <svg width="24" height="24" fill="currentColor">
        <title>Toggle Search</title>
        <use href="/images/sprite.svg#search"/>
    </svg>
</button>
<div id="searchbox" class="input-group searchbox-wrapper hidden sm-block sm-ms-12">
    <input type="search" id="search-input" placeholder="Search the docs..."/>
</div>
<script>
    const searchBox = document.getElementById("searchbox");
    const searchInput = document.getElementById("search-input");
    const toggleSearch = () => searchBox.classList.toggle('hidden');
    document.addEventListener("keydown", (e) => {
        if ((e.ctrlKey || e.metaKey) && e.key === "/") {
            e.preventDefault();
            toggleSearch();
            searchInput.focus();
        }
    });
    const algoliaTransformData = (hits) => {
        return hits.map((hit) => {
            const liveUrl = "https://fylgja.dev/";
            hit.url = window
                .location
                .origin
                .startsWith(liveUrl)
                    ? hit.url
                    : hit.url.replace(liveUrl, "/");
            // Prevent jumping to first header
            if (hit.anchor === "page-main") {
                hit.url = hit.url.replace(/#page-main$/, "");
                hit.anchor = null;
            }
            return hit;
        });
    }
    const algoliaConfig = {
        apiKey: "01d9800cf1957c377956e40630cbc865",
        indexName: "fylgja",
        inputSelector: "#search-input",
        transformData: algoliaTransformData,
        debug: false
    };
    document.addEventListener("DOMContentLoaded", () => {
        if (window.docsearch) {
            docsearch(algoliaConfig)
        }
    });
</script>
<noscript>
    <style>
        #searchbox,
        #searchbox-toggle {
            display: none;
        }
    </style>
</noscript>
