<button
    title="Toggle color scheme"
    class="btn -icon"
    data-color-preference
    aria-label="auto"
    aria-live="polite">
    {{ '/src/assets/images/color-scheme.svg' | svgContents | safe }}
</button>
