{# Markdown import compatible, no indentation #}
<p>We're hard at work, adding content here</p>
<p>Want to support us, via your own cool {{ title }}. Or keep track when we have added some things here?</p>
{% if support %}
<ul class="mt-8 list-style -none md-flex md-space-x-8">
{% for item in support %}
<li>
<a href="{{ item.url }}" {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %} class="text-reset no-underline flex iteme-start space-x-2">
{% if item.icon %}
<div class="avatar p-2 me-4"
style="--avatar-bg: {{ item.iconStyle.bg }}; --avatar-color: {{ item.iconStyle.color }};"
><svg width="24" height="24" fill="currentColor"><use href="/images/socials.svg#{{ item.icon }}" /></svg></div>
{% endif %}
<div class="flex-auto">
<h3 class="h5 mt-2 mb-0">{{ item.title }}</h3>
<p>{{ item.text | safe }}</p>
</div>
</a>
</li>
{% endfor %}
</ul>
{% endif %}
