---
title: "Download"
description: "Get Fylgja via the following services"
order: 2
style: "
#main-download-options {
    --cols-size: 400px;
    --gap: 2em;
}

.intro-section svg {
    width: 3em;
    height: 3em;
}

.svg-sass { color: #c69; }
.svg-css { color: #1572b6; }
"
---

<p>
    Looking for a single download and import for your project, just as with any CSS Framework, look no futher down here.<br>
    If not, we recommend you <a href="/components/">checkout the Fylgja components page.</a>
    Or if you have questions, please <a href="/guides/">checkout the guides</a> for more help.
</p>
<section id="main-download-options" class="auto-grid my-8">
    <div>
        <div class="intro-section flex">
            <div class="svg-sass mt-2 me-4">
                {{ "/src/assets/images/icons/sass.svg" | svgContents | safe }}
            </div>
            <div>
                <h2 id="download-scss" class="my-0">
                    Get Fylgja as SCSS libary
                    <a class="hashlink" href="#download-scss" aria-hidden="true" tabindex="-1"></a>
                </h2>
                <p>
                    A single <code>.scss</code> file that includes all of Fylgja.<br>
                    Or as collection of <code>.scss</code> files.
                </p>
            </div>
        </div>
        <h3 class="h5 mt-1 mb-0">Install the NPM package</h3>
        <p>All of Fylgja is available through one NPM package:</p>
        {% highlight "bash" %}
        npm install fylgja
        {% endhighlight %}
        <p>And inlcude all of Fylgja your SCSS via;</p>
        {% highlight "scss" %}
        @use "fylgja";
        {% endhighlight %}
    </div>
    <div>
        <div class="intro-section flex">
            <div class="svg-css mt-2 me-4">
                {{ "/src/assets/images/icons/css.svg" | svgContents | safe }}
            </div>
            <div>
                <h2 id="download-css" class="my-0">
                    Get Fylgja as PostCSS libary
                    <a class="hashlink" href="#download-css" aria-hidden="true" tabindex="-1"></a>
                </h2>
                <p>
                    A single <code>.css</code> file that includes all of Fylgja.<br>
                    Or as collection of <code>.css</code> files.
                </p>
            </div>
        </div>
        <h3 class="h5 mt-1 mb-0">Install the NPM package</h3>
        <p>All of Fylgja is available through one NPM package:</p>
        {% highlight "bash" %}
        npm install fylgja
        {% endhighlight %}
        <p>And inlcude all of Fylgja your PostCSS Import via;</p>
        {% highlight "css" %}
        @import "fylgja";
        {% endhighlight %}
    </div>
</section>
<section id="other-download-options">
    <h2>Other download options</h2>
    <h3 class="h5 my-0">Download the latest Fylgja Github release</h3>
    <p>You can get the latest Fylgja release as a <code>tar.gz</code> or <code>zip</code> from GitHub:</p>
    <a href="https://github.com/fylgja/fylgja/releases/latest"
        target="_blank"
        rel="noopener noreferrer"
        class="btn -theme"
    >Download the latest Fylgja version</a>
    <h3 class="h5 mt-8 mb-0">Clone the Fylgja GitHub repository in your project</h3>
    <p>Clone the repo to your own project and import it via Sass:</p>
    {% highlight "bash" %}
    git clone git@github.com:fylgja/fylgja.git
    {% endhighlight %}
    <p><small>Or by using the <a href="https://cli.github.com/" target="_blank" rel="noopener noreferrer">GitHub CLI</a></small></p>
    <h3 class="h5 mt-8 mb-0">Get all of Fylgja as CSS trough a CDN</h3>
    <p>You can import the CSS file directly from jsDelivr, unpkg and more:</p>
    {% highlight "html" %}
    <link href="https://cdn.jsdelivr.net/npm/fylgja@1/fylgja.css" rel="stylesheet">
    {% endhighlight %}
    {% highlight "html" %}
    <link href="https://unpkg.com/fylgja@1/fylgja.css" rel="stylesheet">
    {% endhighlight %}
</section>
