---
title: "Guides"
description: "Looking for help or is something unclear, look no further in the Fylgja guides."
style: {
    inline: "
        #list-of {
            --cols-size: 20em;
            --aspect-ratio: 1/1;
            --avatar-bg: transparent;
            --card-radius: 8px;
            --card-elevation: none;
            --card-border: 1px solid rgb(0 0 0 / 12%);
            --avatar-size: 42px;
            --avatar-radius: 8px;
        }
    "
}
---

<p>Looking for help or is something unclear, look no further in the Fylgja guides.</p>
<div id="list-of" class="auto-grid">
    {%- for item in collections.guides -%}
    <a href="{{ item.url }}" class="card card-content flex-row">
        {% if item.data.thumb %}
            {%- set preview -%}./src/assets/images/{{ item.data.thumb }}{%- endset -%}
            <div class="avatar aspect-ratio me-4">
                {% image preview, "", "84" %}
            </div>
        {% endif %}
        <div>
            <strong>{{ item.data.title }}</strong>
            {% if item.data.description %}
                <p class="text-small my-0">{{ item.data.description | truncate(50) }}</p>
            {% else %}
                <p class="text-small my-0">{{ item.templateContent | truncate(50) }}</p>
            {% endif %}
        </div>
    </a>
    {%- endfor -%}
    <a href="https://github.com/fylgja/site/issues/new?&labels=enhancement&title=New%20Guide:"
        target="_blank"
        rel="noopener noreferrer"
        class="card card-content flex-row">
        <div class="avatar p-3 me-4" style="--avatar-bg: #111; --avatar-color: #fff;">
            <svg width="50" height="50" fill="currentcolor" class="w-full h-full">
                <use href="{{ '/images/socials.svg' | assetUrl }}#github" />
            </svg>
        </div>
        <div>
            <strong>Add your own</strong>
            <p class="text-small my-0">Have written your own guide, share it here.</p>
        </div>
    </a>
</div>
