---
title: "Starter Projects"
description: "Looking for a prebuilt templates that already comes with Fylgja build in your favorite framework, look no further down here."
order: 30
style: {
  inline: "
#list-of {
    --cols-size: 20em;
    --aspect-ratio: 1/1;
    --avatar-bg: transparent;
    --card-radius: 8px;
    --card-elevation: none;
    --card-border: 1px solid rgb(0 0 0 / 12%);
    --avatar-size: 42px;
    --avatar-radius: 8px;
}
"}
---

{% if starters %}
<p>Looking for a prebuilt templates that already comes with Fylgja build in your favorite framework, look no further down here.</p>
<div id="list-of" class="auto-grid">
    {%- for item in starters -%}
        <div class="card">
            <div class="card-content flex flex-row">
                {% if item.thumb %}
                    {%- set preview -%}./src/assets/images/{{ item.thumb }}{%- endset -%}
                    <div class="avatar aspect-ratio me-4">
                        {% image preview, "", "thumbnail" %}
                    </div>
                {% endif %}
                <div>
                    <strong>
                        <a
                            href="{{ item.url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-reset"
                        >{{ item.title }}</a>
                    </strong>
                    {% if item.description %}
                        <p class="text-small my-0">{{ item.description | truncate(50) }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-action p-0 flex flex-wrap border-block-start">
                <a
                    href="{{ item.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn flex-auto"
                    style="--btn-radius: 0;"
                >View git repo</a>
                {% if item.previewUrl %}
                    <a
                        href="{{ item.previewUrl }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn flex-auto"
                        style="--btn-radius: 0;"
                    >View demo site</a>
                {% endif %}
            </div>
        </div>
    {%- endfor -%}
    <a
        href="https://github.com/fylgja/site/issues/new?&labels=enhancement&title=New%Starter%20Project:"
        target="_blank"
        rel="noopener noreferrer"
        class="card card-content flex-row"
    >
        <div class="avatar p-3 me-4" style="--avatar-bg: #111; --avatar-color: #fff;">
            <svg width="50" height="50" fill="currentcolor" class="w-full h-full">
                <use href="{{ '/images/socials.svg' | assetUrl }}#github" />
            </svg>
        </div>
        <div>
            <strong>Add your own</strong>
            <p class="text-small my-0">Have written your own Starter Projects, share it here.</p>
        </div>
    </a>
</div>
{% else %}
{% include "todo.njk" %}
{% endif %}
