<div class="flex items-center">
            {{ '/src/assets/images/icons/widgets.svg' | svgContents | safe }}
            <span class="ms-2">Modularity first</span>
        </div>
        <div class="flex items-center">
            {{ '/src/assets/images/icons/format_textdirection_rtl.svg' | svgContents | safe }}
            <span class="ms-2">RTL out of the box</span>
        </div>
        <div class="flex items-center">
            {{ '/src/assets/images/icons/style.svg' | svgContents | safe }}
            <span class="ms-2">Easy to start with Fylgja's design tokens</span>
        </div>
        <div class="flex items-center">
            {{ '/src/assets/images/icons/extension.svg' | svgContents | safe }}
            <span class="ms-2">Empower Your Designs with Fylgja's CSS Utilities</span>
        </div>