{% highlight "css" %}
:root {
  --color-theme: #1565c0;
  --color-on-theme: #fff;
}

@import "@fylgja/button";
@import "@fylgja/form";
@import "@fylgja/control";
@import "@fylgja/auto-grid";
@import "@fylgja/utilpack";
{% endhighlight %}
