{% highlight "css" %}
:root {
    --color-theme: #1565c0;
    --color-on-theme: #fff;
}

@import "@fylgja/button/button.css";
@import "@fylgja/form/form.css";
@import "@fylgja/control/control.css";
@import "@fylgja/auto-grid/auto-grid.css";
@import "@fylgja/utilpack/utilpack.css";
{% endhighlight %}
