{% highlight "scss" %}
@use "@fylgja/theme" with (
  $color-theme: #1565c0,
  $color-on-theme: #fff
);

@use "@fylgja/button";
@use "@fylgja/form";
@use "@fylgja/control";
@use "@fylgja/auto-grid";
@use "@fylgja/utilpack";
{% endhighlight %}
