---
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";

const title = "Fylgja Report";
const collection = await getCollection("blog", ({ data }) => {
	return !data.draft;
});
---

<Layout title={title}>
	<h1>{title}</h1>
	<div class="grid-cols" style="--md_grid-cols: 2">
		{
			collection.map((item) => (
				<div class="card">
					<a href={`/blog/${item.slug}`}>{item.data.title}</a>
				</div>
			))
		}
	</div>
</Layout>

<style>
	.grid {
		& > :first-child {
			grid-column: 1 / -1;
		}
	}
</style>
