---
import type { TocItemProps } from "./types";

interface Props {
	item: TocItemProps;
}

const { item } = Astro.props;
---

<li>
	<a href={"#" + item.slug}>
		<span>{item.text}</span>
	</a>
	{
		item.children.length > 0 && (
			<ul>
				{item.children.map((subItem: TocItemProps) => (
					<Astro.self item={subItem} />
				))}
			</ul>
		)
	}
</li>
