---
search: true
css: { page: "/css/docs.css" }
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% include "head.njk" %}
    <body class="flex flex-col min-h-screen">
        {% include "header.njk" %}
        <main class="docs-page container flex-grow">
            <div class="docs-layout my-6 ">
                {% include "breadcrumbs.njk" %}
                <article id="page-main">
                    <header class="mb-5 xl-flex justify-between">
                        <h1 class="page-title flex-shrink me-2 mb-0">
                            <span class="aria-only">Fylgja component - </span>
                            <span>{{ title }}</span>
                        </h1>
                        <div class="component-badges self-end mt-2">
                            {%- if npm -%}{% badgeNpm npm %}{%- endif -%}
                            {%- if git -%}{% badgeGit git, gitDomain %}{%- endif -%}
                            {%- if codepen -%}{% badgeCodepen codepen %}{%- endif -%}
                        </div>
                    </header>
                    <details class="faq-panel md-hidden mb-6">
                        <summary class="text-small">Table of Contents</summary>
                        {{ content | toc(tags=["h2"], wrapperClass="toc menu") | safe }}
                    </details>
                    {%- if draft -%}
                        <blockquote class="notice">
                            <strong>Notice!</strong> This page is still work in progress.<br>
                            Please check back later.
                        </blockquote>
                    {%- endif -%}
                    <div class="body">{{ content | safe }}</div>
                    {% include "edit.njk" %}
                </article>
            </div>
            <aside class="docs-sidebar hidden md-block overflow-auto overflow-contain hide-scrollbar">
                <nav aria-label="Fylgja Components Menu" class="my-6 text-small">
                    <div class="weight-bold my-2 mx-3">Table of Contents</div>
                    {{ content | toc(tags=["h2", "h3"], wrapper="div", wrapperClass="toc menu") | safe }}
                    {%- for items in collections.componentsGroup -%}
                        <details
                            id="sidebar-{{ items.id }}"
                            class="faq-panel"
                            {% if tags[1] == items.id %}open{% endif %}
                        >
                            <summary>{{ items.title }}</summary>
                            <ul class="menu mx-n2">
                                {%- for item in items.data | sortByName -%}
                                    {% if (item.data.altlink) or (item.data.draft) %}
                                    {%- else -%}
                                        <li>
                                            <a href="{{ item.url }}"{% if page.url == item.url %} aria-current="page" class="is-active"{% endif %}
                                            >{{ item.data.title }}</a>
                                        </li>
                                    {% endif %}
                                {%- endfor -%}
                            </ul>
                        </details>
                    {%- endfor -%}
                </nav>
            </aside>
        </main>
        {% include "footer.njk" %}
    </body>
</html>
