---
layout: default
preconnect: <link rel="preconnect" href="https://img.shields.io">
css: '<link rel="stylesheet" href="/css/page.css">'
---

{% include "header.njk" %}
<main class="docs-page md-flex container flex-grow mb-4">
    <div class="docs-layout my-6">
        {% include "breadcrumbs.njk" %}
        <article id="page-main">
            <header class="mb-5">
                <h1 class="page-title mb-0"><span class="aria-only">Fylgja component - </span>{{ title }}</h1>
                {% if npm %}
                    <div class="mt-2">{% npmBadges npm %}</div>
                {% endif %}
            </header>
            <div class="body">{{ content | safe }}</div>
        </article>
    </div>
    <aside class="docs-sidebar hidden md-block overflow-auto overflow-contain thin-scrollbar">
        <nav aria-label="Components Menu" class="menu my-7 text-small">
            <ul>
                <li>
                    <strong class="block mx-2 mb-2">{{ title }}</strong>
                    {{ content | toc(wrapper="div") | safe }}
                </li>
                <li class="hr" role="separator"></li>
                {%- for items in collections.componentsGroup -%}
                    <li class="mt-4">
                        <strong class="block mx-2 mb-2">{{ items.title }}</strong>
                        <ul>
                            {%- for item in items.data | sortByName -%}
                                {% if not item.data.altlink %}
                                    <li>
                                        <a href="{{ item.url }}"{% if page.url == item.url %} aria-current="page" class="is-active"{% endif %}
                                        >{{ item.data.title }}</a>
                                    </li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                    </li>
                {%- endfor -%}
            </ul>
        </nav>
    </aside>
</main>
{% include "footer.njk" %}
