---
search: false
style: {
    home: "css/index.css",
    codebox: "css/codebox.css"
}
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% include "head.njk" %}
    <body class="flex flex-col min-h-screen">
        {{ '/src/assets/images/color-scheme-mask.svg' | svgContents | safe }}
        <main id="page-main" class="flex-grow mb-8">
            <article>{{ content | safe }}</article>
        </main>
        {% include "footer.njk" %}
        <svg aria-hidden="true" class="aria-only" width="0" height="0">
            <defs>
                <linearGradient id="svg-gradient-logo" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" stop-color="var(--color-alt)"/>
                    <stop offset="1000%" stop-color="var(--color-theme)"/>
                </linearGradient>
            </defs>
        </svg>
    </body>
</html>
