---
search: true
css: { page: "/css/page.css" }
style: {
    inline: ".page-container { --container-size: 84ch; }"
}
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% include "head.njk" %}
    <body class="flex flex-col min-h-screen">
        {% include "header.njk" %}
        <main id="page-main" class="page-container flex-grow my-6">
            <article class="container my-6">
                {% if title %}
                    <h1>{{ title }}</h1>
                {% endif %}
                {{ content | safe }}
            </article>
        </main>
        {% include "footer.njk" %}
    </body>
</html>

