---
layout: default
css: '<link rel="stylesheet" href="/css/page.css">'
style: "
.page-container {
    --container-size: 84ch;
}
"
---

{% include "header.njk" %}
<main id="page-main" class="page-container flex-grow my-6">
    <article class="container my-6">
        {% if title %}
            <h1>{{ title }}</h1>
        {% endif %}
        {{ content | safe }}
    </article>
</main>
{% include "footer.njk" %}
