.demo-box {
	display: grid;
	place-content: center;
	border-radius: var(--radius-2);
	border: 1px solid var(--demo-box-stroke, var(--brand));
	background-color: var(--demo-box-bg, var(--surface-color));
	aspect-ratio: var(--ratio-box);
	min-inline-size: var(--demo-box-width, clamp(var(--size-16), 10vw, var(--size-21)));
	padding: var(--size-1);
	line-height: 1.1;
	transition: scale 0.3s ease-out;

	@media (hover: hover) {
		&.-scaler:hover {
			z-index: 1;
			scale: 1.3;
		}
	}
}

.demo-table {
	--table-py: 0.25em;
	--table-even-bg: var(--root-bg);
	overflow-x: auto;

	& table {
		display: table;
		inline-size: 100%;
		font-size: 0.875em;
	}

	& tr :is(th, td):last-child {
		display: none;
		inline-size: 100%;

		@media (width >= 768px) {
			display: table-cell;
		}

		& > div {
			block-size: 1.5em;
			background: var(--brand);
		}
	}
}
