@use "@fylgja/mq" as *;
@use "@fylgja/button/helper" as *;

// stylelint-disable selector-class-pattern
.DocSearch button,
.DocSearch-Button {
    @include btn;
}

.DocSearch-Button-Container {
    display: flex;
    align-items: center;
}

.DocSearch-Button-Placeholder {
    padding: 0 1em;
}

.DocSearch .DocSearch-Search-Icon {
    stroke-width: 1.6;
}

.DocSearch-Button-Keys {
    display: inline-flex;
    margin-inline-start: 1em;

    > * + * {
        margin-inline-start: 0.25em;
    }
}

.DocSearch-Button-Key {
    padding: 0 0.25rem;
}

.DocSearch-Hit-action-button,
.DocSearch-Reset {
    --btn-padding: 1px;
    --btn-size: #{$btn-icon-size};
    min-width: var(--btn-size);
    min-height: var(--btn-size);
}

@media ($lg) {
    #docsearch {
        width: 14em;
    }

    .DocSearch-Button {
        --btn-stroke: hsl(0 0% 0% / 20%);
        --btn-color: hsl(0 0% 0% / 60%);
        --btn-focus-bg: var(--color-bg);
        --btn-font-weight: 400;
        justify-content: space-between;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        :root:not([data-theme]) .DocSearch-Button {
            --btn-stroke: hsl(0 0% 100% / 20%);
            --btn-color: hsl(0 0% 100% / 60%);
        }
    }

    :root[data-theme="dark"] .DocSearch-Button {
        --btn-stroke: hsl(0 0% 100% / 20%);
        --btn-color: hsl(0 0% 100% / 60%);
    }
}

@media ($lg-max) {
    .DocSearch-Button {
        --btn-padding: 1px;
        --btn-size: #{$btn-icon-size};
        min-width: var(--btn-size);
        min-height: var(--btn-size);
    }

    .DocSearch-Button-Keys,
    .DocSearch-Button-Placeholder {
        display: none;
    }
}
