@use "@fylgja/mq" as *;
@use "@fylgja/form/helper" as *;
@use "@fylgja/dialog/helper" as *;

// stylelint-disable selector-class-pattern, no-descending-specificity
.DocSearch svg {
    display: block;
    stroke-width: 1.3;
}

.DocSearch-Modal {
    @extend %dialog;
    --dialog-width: min(100%, 840px);
    padding: 0;
    top: clamp(1em, 5vw, 5em);
    transform: none;

    &:not([hidden]) {
        animation: dialog-show 300ms;
        transition: none;
    }
}

.DocSearch-Container {
    @extend %backdrop-polyfill;
    z-index: 9;
    padding: 0;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
    display: none;
}

.DocSearch-LoadingIndicator {
    width: 1.5em;
    height: 1.5em;
}

// Header
.DocSearch-SearchBar {
    --btn-padding: 0.2em 0.5em;
    --btn-font-size: 0.875em;
    --btn-color: var(--color-text-muted);
    display: flex;
    margin-block-end: 0.5em;
    padding: 1em;
    border-block-end: 1px solid var(--border-color, #eee);

    .DocSearch-Search-Icon {
        stroke-width: 2;
    }

    .DocSearch-Input {
        --form-focus-style: none;
        border-width: 0;
        border-radius: 0;
    }

    &:focus-within {
        border-color: var(--form-focus-color, #{$form-focus-color});
        // stylelint-disable-next-line max-line-length
        box-shadow: inset 0 -1px 0 var(--form-focus-color, #{$form-focus-color});

        .DocSearch-Search-Icon {
            color: var(--form-focus-color, #{$form-focus-color});
        }
    }

    .DocSearch-Reset {
        display: none;
    }

    @media ($md) {
        .DocSearch-Cancel {
            display: none;
        }
    }
}

.DocSearch-Form {
    display: flex;
    align-items: center;
    flex: auto;
}

// Body
.DocSearch-Dropdown {
    overflow-y: auto;
    overscroll-behavior-y: contain;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.DocSearch-StartScreen .DocSearch-Help {
    padding: 4em 1.5em;
    text-align: center;
    color: var(--color-text-muted);
}

.DocSearch-Hit-source {
    padding: 0.5em 1em;
    color: var(--color-text-muted);
    font-weight: 500;
}

.DocSearch-Hit {
    position: relative;

    > a {
        --link-color: currentcolor;
        --link-color-focus: currentcolor;
        display: block;
        text-decoration: none;
        padding: 0 1em;
        transition: background-color 0.2s ease-in-out;

        &:focus,
        &:hover {
            outline: none;
            text-decoration: none;
            background-color: var(--color-theme-fade);
        }
    }
}

.DocSearch-Hit-Container {
    display: flex;
    align-items: center;
    min-height: 3.5em;

    > :not(:last-child, .DocSearch-Hit-action) {
        margin-inline-end: 1em;
    }
}

.DocSearch-Hit-content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex: auto;
    padding: 0.5em 0;
}

.DocSearch-Hit-path {
    font-size: 0.75rem;
    font-weight: bolder;
    color: var(--color-text-muted);
}

.DocSearch-Hit-icon {
    color: var(--color-text-muted);

    @media ($md-max) {
        display: none;
    }
}

.DocSearch-Hit-Tree {
    width: 1.5em;
    height: 3.5em;
    color: var(--color-text-muted);
    opacity: 0.5;
}

// Footer
.DocSearch-Footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-top: 1px solid var(--border-color, #eee);
    padding: 1em 1.5em;
}

.DocSearch-Logo a {
    --link-color: var(--color-text-muted);
    --link-color-focus: var(--color-text-muted);
    display: flex;
    align-items: center;
    font-size: 0.875em;
    font-weight: 500;
    text-decoration: none;
    outline-offset: 0.5em;

    &:is(:focus, :hover) {
        text-decoration: none;
    }
}

.DocSearch-Logo svg {
    margin-inline-start: 0.5em;
    color: var(--logo-color, var(--color-theme));
}

.DocSearch-Commands {
    display: none;
}
