---
import Layout from "@/layouts/PageLayout.astro";

const title = "404";
---

<Layout title={title} class="container flex-col align-center">
	<h1>{title}</h1>
	<p>
		We couldn’t find that link. Check the address or <a href="/">head back home</a>.
	</p>
</Layout>
