---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout
	title="About Fylgja"
	description="About Fylgja and how it was created"
	style="--container-size: var(--size-content);"
>
	<article style="--my: var(--size-12)">
		<h1>About Fylgja</h1>

		<h2>How it Started</h2>
		<p>
			Fylgja is created by Sean van Zuidam (@GrimLink), with help from Ruud van Zuidam
			(@Allrude).
		</p>
		<p>
			Fylgja makes it easier to start with a front-end, using common block styles. So you
			don't have to repeat them in every project, giving you a good default to start with.
		</p>

		<h2>How it was Built</h2>
		<p>
			The original version of Fylgja, (that was never released), was build as an utility pack
			for Bootstrap 2 & 3. This version was purely to add specific flex features to the grid,
			made it easier to add button styles, and added the spacer utility class that's now know
			as <code>.mb-4</code>
		</p>
		<p>
			Later versions moved to the SCSS syntax and started to add own blocks, slowly growing
			and converting that what started as a simple extension for Bootstrap, to a complete CSS
			framework.
		</p>
		<p>
			The initial release candidates looked like most CSS frameworks, with some early and
			easier variables and mixins.
		</p>
		<p>
			But we quickly concluded this was the wrong direction for Fylgja. We wanted Fylgja to be
			more modular, so plug and play had to be first and style had to be second.
		</p>
		<p>This triggered the first off many complete rebuilds 😅</p>
		<p>
			The framework grew and profited from changing insights and we learn from other pioneers
			and CSS Hero's. But also from using it in many projects, like e-commerce projects in
			Magento 1 and Magento 2, CMS projects like Wordpress and Joomla! and Headless projects
			with Javascript frameworks as React and Vue.
		</p>
		<p>Slowing growing to the CSS Library you see here.</p>

		<h2>The Reason</h2>
		<p>
			We wanted Fylgja to be more modular, so plug and play had to be first and style had to
			be second.
		</p>

		<h2>Inspirations</h2>
		<p>
			Fylgja is not made out of thin air, it has many inspirations and we learned a lot on
			do's and don'ts from other CSS frameworks, and the dev's from Google and Mozilla.
		</p>
		<p>So a little shout out to;</p>
		<ul>
			<li>
				<a href="https://getbootstrap.com/">Bootstrap</a> for always being a great tool. It has
				its own little modularity flaws, but it did kick start the Fylgja project.
			</li>
			<li>
				<a href="https://bulma.io/">Bulma</a> and <a
					href="https://material.io/components?platform=web">Material Components</a
				> on how to do modularity with SCSS and CSS properly.
			</li>
			<li>
				<a href="https://tailwindcss.com/">TailwindCSS</a> on how to do Utility classes and most
				importantly! How to not do Utility classes
			</li>
			<li>
				<a href="https://open-props.style/">Open Props</a> on how to provide a comprehensive
				set of CSS Design Tokens
			</li>
			<li>
				Dead but not forgoten, for what awesome stuff they did;
				<ul>
					<li>
						Native Elements for showing how you can do nice looking Native Elements
						without losing any freedom on personal style
					</li>
					<li>
						Iota grid showed how you can create a fully customizable CSS grid with only
						a small CSS footprint, inspired some option in the <code
							>@fylgja/flex-grid</code
						>
					</li>
				</ul>
			</li>
		</ul>
		<p>
			Also a little shout out to <a href="https://www.mooore.nl/">Mooore Digital</a> for assisting
			this project and utilizing it in their own work.
		</p>
	</article>
</PageLayout>
