<ol>
    {% for tag in collections.tagList %}
    <li>
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="tag">{{ tag | title }}</a>
    </li>
    {% endfor %}
</ol>

<p>{{ collections | keys | dump(2) | safe }}</p>
