---
interface Props {
	title?: string;
	body?: string;
	style?: string;
	styleContent?: string;
}

const { title, body, style, styleContent } = Astro.props;
---

<div class="card border-gradient" style={style}>
	<div class="card-content" style={styleContent}>
		<slot>
			<h3>{title}</h3>
			<p>{body}</p>
		</slot>
	</div>
</div>

<style>
	.card {
		--gradient-from: var(--color-5);
		--gradient-to: var(--brand);
		--gradient-angle: -45deg;
		border-width: 2px;
	}
</style>
