---
import { Icon } from "astro-icon/components";

interface Props {
	items: {
		title: string;
		items: {
			slug: string;
			data: {
				title: string;
			};
		}[];
	}[];
	class?: string;
}

const currentPath = Astro.url.pathname;
const isCurrentPage = (href: string) => (currentPath === href ? "page" : null);
const { items, class: classes } = Astro.props;
---

<nav aria-label="Docs Nav" class:list={["menu", classes]}>
	<ul class="flow">
		{
			items.map((group) => {
				if (!group.items.length) return;
				return (
					<li>
						<details open>
							<summary class="list-none btn w-full">
								<span>{group.title}</span>
								<Icon
									name="chevron-down"
									width="20"
									height="20"
									class="flip-rotate transition"
									style="--duration: 300ms"
								/>
							</summary>
							<ul style="--px: 1em 0">
								{group.items.map((item) => (
									<li>
										<a
											class="btn w-full"
											href={`/docs/${item.slug}`}
											aria-current={isCurrentPage(`/docs/${item.slug}`)}
										>
											{item.data.title}
										</a>
									</li>
								))}
							</ul>
						</details>
					</li>
				);
			})
		}
	</ul>
</nav>

<style>
	nav {
		& a {
			color: var(--text-color-muted);
			font-size: 0.875em;
			text-decoration: none;

			&:hover {
				color: var(--text-color);
			}

			&[aria-current="page"] {
				--btn-bg: var(--brand);
				--btn-color: var(--on-brand);
				color: var(--btn-color);
			}
		}
	}
</style>
