---
title: "Fylgja Components"
description: "All Fylgja components and plugins in one swipe away"
permalink: "/components/"
layout: "components-overview"
sitemap:
  priority: 0.8
script: { scroller: "js/scroller.js" }
style: {
    inline: "
    :root {
        --color-bg: #f7fafc;
    }

    .card {
        --aspect-ratio: 4/3;
        --aspect-img: contain;
        --card-elevation: var(--shadow-2);
        --scroll-size: 90%;
        max-width: 16em;
    }

    .card.-draft {
        --card-bg: transparent;
        --card-elevation: none;
        --card-border: 1px solid rgba(0, 0, 0, 0.3);
        opacity: 0.8;
    }

    #components-featured .card {
        max-width: 21.5em;
    }

    @media (min-width: 1280px) {
        .scroll-slider {
            --gap-inline: clamp(1.25rem, 5vw, 8rem);
            --gap-block: 2rem;
            --item-gap: 0.8rem;
        }

        .scroll-title {
            --container-padding-y: 1rem;
            --container-padding-x: clamp(1.25rem, 5vw, 8rem);
            --container-size: 100%;
        }

        .card {
            max-width: 17.5em;
        }

        #components-featured .card {
            max-width: 23em;
        }
    }
    "
}
---

{% if collections.componentsFeatured %}
    <section id="components-featured" class="my-2 md-my-5">
        <div class="scroll-title pt-2 container">
            <h2 class="h3 my-0">Featured</h2>
            <p class="my-0">Our recommended components</p>
        </div>
        <div class="scroll-slider hide-scrollbar">
            {%- for item in collections.componentsFeatured -%}
            {%- if item.data.draft -%}
            <div class="card -draft">
            {% else %}
            <a class="card" href="{{ item.url }}">
            {% endif %}
                <div class="card-media aspect-ratio">
                    {% if item.data.preview %}
                        {% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
                        {% set loading %}{% if loop.first %}eager{% else %}lazy{% endif %}{% endset %}
                        {% image preview, "", "medium", loading %}
                    {% endif %}
                </div>
                <div class="card-content">
                    <h3 class="h5 my-0">{{ item.data.title }}</h3>
                    {%- set strLimit %}150{%- endset -%}
                    {% if item.data.description %}
                        <p class="text-small">{{ item.data.description | truncate(strLimit) }}</p>
                    {% else %}
                        <p class="text-small">{{ item.templateContent | truncate(strLimit) }}</p>
                    {% endif %}
                </div>
            {%- if item.data.draft -%}
            </div>
            {% else %}
            </a>
            {% endif %}
            {%- endfor -%}
        </div>
    </section>
{% endif %}

{%- for items in collections.componentsGroup -%}
    {% if items.data | length %}
        <section id="{{ items.title | lower }}" class="my-2 md-my-5">
            <div class="scroll-title pt-2 container">
                <h2 class="h3 my-0">{{ items.title }}{% if requiresJs %} <small>(Requires JavaScript)</small>{% endif %}</h2>
                <p class="my-0">{{ items.description }}</p>
            </div>
            <div class="scroll-slider hide-scrollbar">
                {%- for item in items.data | sortByOrder -%}
                {%- if item.data.draft -%}
                <div class="card -draft">
                {% else %}
                <a class="card" href="{{ item.url }}">
                {% endif %}
                    <div class="card-media aspect-ratio">
                        {% if item.data.preview %}
                            {% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
                            {% image preview, "", "small" %}
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h3 class="h5 my-0">{{ item.data.title }}</h3>
                        {% if item.data.description %}
                            <p class="text-small">{{ item.data.description }}</p>
                        {% else %}
                            <p class="text-small">{{ item.templateContent | truncate(120) }}</p>
                        {% endif %}
                    </div>
                {%- if item.data.draft -%}
                </div>
                {% else %}
                </a>
                {% endif %}
                {%- endfor -%}
            </div>
        </section>
    {% endif %}
{%- endfor -%}
