---
title: "Components"
description: "All Fylgja components and plugins in one swipe away"
permalink: "/{{ page.fileSlug }}/"
layout: "components-overview"
eleventyExcludeFromCollections: true
style: "
:root {
    --color-bg: #f7fafc;
}

.card {
    --aspect-ratio: 4/3;
    --aspect-img: contain;
    --card-elevation: var(--elevation-z1);
    --scroll-size: 90%;
    max-width: 240px;
    transition: box-shadow 0.2s ease-out;
}

.card:hover {
    --card-elevation: var(--elevation-z4);
}

#components-featured .card {
    max-width: 350px;
}

@media (min-width: 1280px) {
    .scroll-slider {
        --gap-inline: clamp(1.25rem, 5vw, 8rem);
        --gap-block: 2rem;
    }

    .scroll-title {
        --container-padding-y: 1rem;
        --container-padding-x: clamp(1.25rem, 5vw, 8rem);
        --container-size: 100%;
    }
}
"
---

{% if collections.componentsFeatured %}
    <section id="components-featured" class="my-2 md-my-5">
        <div class="scroll-title pt-2 container">
            <h2 class="h3 my-0">Featured</h2>
            <p class="my-0">Our recommended components</p>
        </div>
        <div class="scroll-slider hide-scrollbar">
            {%- for item in collections.componentsFeatured -%}
            <a class="card" href="{{ item.data.altUrl if item.data.altUrl else item.url }}">
                <div class="card-media aspect-ratio">
                    {% if item.data.preview %}
                        {% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
                        {% image preview, "", "medium" %}
                    {% endif %}
                </div>
                <div class="card-content">
                    <h3 class="h5 my-0">{{ item.data.title }}</h3>
                    {%- set strLimit %}150{%- endset -%}
                    {% if item.data.description %}
                        <p class="text-small">{{ item.data.description | limit(strLimit) }}</p>
                    {% else %}
                        <p class="text-small">{{ item.templateContent | excerpt(strLimit) }}</p>
                    {% endif %}
                </div>
            </a>
            {%- endfor -%}
        </div>
    </section>
{% endif %}

{%- for items in collections.componentsGroup -%}
    {% if items.data | length %}
        <section id="{{ items.title | lowercase }}" class="my-2 md-my-5">
            <div class="scroll-title pt-2 container">
                <h2 class="h3 my-0">{{ items.title }}{% if requiresJs %} <small>(Requires JavaScript)</small>{% endif %}</h2>
                <p class="my-0">{{ items.description }}</p>
            </div>
            <div class="scroll-slider hide-scrollbar">
                {%- for item in items.data | sortByOrder -%}
                <a class="card" href="{{ item.data.altUrl if item.data.altUrl else item.url }}">
                    <div class="card-media aspect-ratio">
                        {% if item.data.preview %}
                            {% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
                            {% image preview, "", "small" %}
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h3 class="h5 my-0">{{ item.data.title }}</h3>
                        {% if item.data.description %}
                            <p class="text-small">{{ item.data.description }}</p>
                        {% else %}
                            <p class="text-small">{{ item.templateContent | excerpt(120) }}</p>
                        {% endif %}
                    </div>
                </a>
                {%- endfor -%}
            </div>
        </section>
    {% endif %}
{%- endfor -%}
