---
interface Props {
	socials: {
		[key: string]: string;
	};
}

const { socials } = Astro.props;
const links = Object.entries(socials || {}) as [
	platform: string,
	url: string,
][];
---

{
	links.length > 0 && (
		<div class="flex gap" style="--flex-wrap: wrap">
			{links.map(([platform, url]) => (
				<a href={url} rel="me">
					<svg width="24" height="24" fill="currentcolor">
						<title>{platform}</title>
						<use href={`/socials.svg#${platform}`} />
					</svg>
				</a>
			))}
		</div>
	)
}

<style>
	a:hover {
		opacity: 0.66;
	}
</style>
