.faq-panel {
    padding: 0.875em 1.25em;
    border-radius: 8px;
    border: 1px solid var(--details-stroke, #eee);
    background-color: var(--details-bg);
    color: var(--details-color);
    transition: border-color 0.2s ease-out, background-color 0.2s ease-out,
        color 0.2s ease-out;

    summary {
        display: block;
        outline-offset: 0.5em;
        font-weight: normal;

        // Safari unset for default marker
        &::-webkit-details-marker {
            display: none;
        }

        &::before {
            content: var(--details-marker, "+");
            float: right;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            min-width: var(--details-marker-size, 1.5em);
            min-height: var(--details-marker-size, 1.5em);
            background-color: var(--color-theme-fade);
            color: currentcolor;
            line-height: 1.5em;
            font-variant-numeric: tabular-nums;
        }

        + * {
            padding-top: 1em;
        }
    }

    &[open] {
        --details-marker: "-";
        --details-stroke: var(--color-theme);
    }
}
