.header-anchor {
    position: absolute;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease;

    &:focus,
    :hover > & {
        opacity: 1;
        text-decoration: none;
    }
}
