.header-anchor {
    position: absolute;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease;

    &::before {
        content: "#";
        margin-inline-start: 0.35em;
    }

    &:focus,
    :hover > & {
        opacity: 1;
        text-decoration: none;
    }
}
