{# Markdown import compatible, no indentation #}
<style>
#related {
--aspect-ratio: 1;
--avatar-radius: 6px;
--avatar-bg: transparent;
}
</style>
<h2>Some related components</h2>
<p>Components that offer design tokens, a.k.a. CSS Props.</p>
<div id="related" class="auto-grid mb-6">
{%- for item in collections.tokens | sortByOrder | limit(6) -%}
{% if not item.data.draft %}
<a href="{{ item.url }}" class="card card-content flex-row">
{% if item.data.preview %}
{% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
<div class="avatar aspect-ratio me-4 border">{% image preview, "", "thumbnail" %}</div>
{% endif %}
<div>
<strong>{{ item.data.title }}</strong>
{%- set strLimit %}50{%- endset -%}
<p class="text-small">{{ item.data.description | truncate(strLimit) }}</p>
</div>
</a>
{% endif %}
{%- endfor -%}
</div>
<p>For more <a href="/components">checkout out the Fylgja components</a>.</p>
