@import "fylgja/tokens/css/index.css";

@import "fylgja/base";
@import "fylgja/base/theme";

@import "fylgja/components/container";
@import "fylgja/components/join";
@import "fylgja/components/menu";
@import "fylgja/components/card";
@import "fylgja/components/breadcrumbs";

@import "src/css/code-block";
@import "src/css/markdown-alert";
@import "src/css/color-scheme";

@import "fylgja/utilities";

:root {
	--text-color: var(--root-fg);
	--text-color-muted: color-mix(in srgb, var(--root-fg) 76%, transparent);
	--border-color-fade: color-mix(in srgb, var(--root-fg) 20%, transparent);
	--code-stroke: color-mix(in srgb, currentcolor 20%, transparent);

	@media (width >= 1440px) {
		--font-size: 1.125em;
	}
}

.inset-header {
	--inset-y: var(--page-header-height, 0px) auto;
}

.demo-box {
	--hue: 100deg;
	min-width: 100px;
	background-color: var(--color-7);
}
