<section class="stack rounded clip" aria-labelledby="image-banner-center-title">
	<img
		src="/images/placeholders/hare.webp"
		alt=""
		width="500"
		height="300"
		loading="lazy"
		class="w-full object-cover"
		style="--size-y: 280px"
	/>
	<div class="overlay grid align-center text-center" style="--p: 1.5rem; border-image: 0 fill linear-gradient(hsl(0 0% 0% / 50%), hsl(0 0% 0% / 50%))">
		<div class="flow" style="--flow: 0.5rem">
			<h2 id="image-banner-center-title" style="--h-size: 1.75rem">Spring collection</h2>
			<p><a href="#" class="btn --primary">Shop now</a></p>
		</div>
	</div>
</section>
