---
layout: home
permalink: index.html
sitemap:
  priority: 0.8
---

<header id="hero" class="section pb-8">
    <div class="container">
        <div class="text-center">
            <h1 class="inline-block h4 mt-0 mb-2 logo -large">
                {{ "/src/assets/images/logo.svg" | svgContents | safe }}
                <span class="block mt-1">The modular highly customizable CSS framework.</span>
            </h1>
            <div class="h5">
                <a href="/getting-started/" class="btn -theme px-4">Get started</a>
            </div>
        </div>
    </div>
</header>

{% if navigation.intro %}
<nav aria-label="quick menu" class="hero-nav container pb-8">
    <div class="card divide-y sm-divide-y-none sm-divide-x sm-flex-row">
        {% for item in navigation.intro %}
        <a href="{{ item.url }}" {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
            class="card-content sm-w-33 text-reset text-center">
            {% if item.icon %}
                {%- set introIcon -%}/src/assets/images/icons/{{ item.icon }}.svg{%- endset -%}
                {{ introIcon | svgContents | safe }}
            {% endif %}
            <div class="mt-1">{{ item.text }}</div>
        </a>
        {% endfor %}
    </div>
</nav>
{% endif %}

<section id="intro" class="container py-4 md-py-8 sm-text-center">
    <h2 class="h1">The experiences you get from using Fylgja</h2>
    <p class="mb-0">
        Fylgja is a very flexable CSS framework,<br>
        it offers the best features from other CSS frameworks, bundled into one framework.<br>
        Use and extend it with your own CSS or extend your current stack with Fylgja.
    </p>
</section>

<section id="usp-modularity" class="usp-section container py-6 md-py-8">
    <div class="lg-flex">
        <div class="lg-w-50 mb-4 md-mb-0 md-me-8">
            <h2>Modularity</h2>
            <p>Fylgja is build with modularity in mind, import only the parts you need,
                <br>keep your bundle size and CSS small without using any extra tools.
            </p>
        </div>
        <div class="lg-w-50 xs-flex xs-space-x-4">
            <div class="code-box mb-4 xs-mb-0 xs-w-50">
                <div class="code-box-header">
                    <span class="osx-close"></span>
                    <span class="lang">SCSS</span>
                </div>
                {% include "code-sample/scss.njk" %}
            </div>
            <div class="code-box xs-w-50">
                <div class="code-box-header">
                    <span class="osx-close"></span>
                    <span class="lang">PostCSS</span>
                </div>
                {% include "code-sample/postcss.njk" %}
            </div>
        </div>
    </div>
</section>

<div id="usp-points" class="usp-section container py-6 md-py-8 auto-grid">
    <section class="flex">
        <div class="avatar -icon-css me-6">
            {{ "/src/assets/images/icons/css.svg" | svgContents | safe }}
        </div>
        <div>
            <h2>No JavaScript required</h2>
            <p>Fylgja is CSS only, so you can integrate it in any JS environment,<br>
                without having to worry it conflicts with something.</p>
        </div>
    </section>
    <section class="flex">
        <div class="avatar -icon-palette me-6">
            {{ "/src/assets/images/icons/palette.svg" | svgContents | safe }}
        </div>
        <div>
            <h2>Ease to edit and to add your own style</h2>
            <p>Use Fylgja as a solid basis to build your own styles with minimal effort,<br>
                thanks to SCSS and/or CSS Variables and CSS Utilities.</p>
        </div>
    </section>
</div>

<section id="usp-whats-in-the-📦" class="usp-section container text-center py-6 md-py-8">
    <h2 class="my-6">Combine the power of</h2>
    <div class="inline-flex flex-wrap items-end justify-center">
        <div class="w-full sm-w-33 px-4">
            <h3 class="h4 md-m-0">Native styles</h3>
        </div>
        <div class="w-50 sm-w-33 px-4 md-mb-4">
            <h3 class="h4 md-m-0">CSS Components</h3>
        </div>
        <div class="w-50 sm-w-33 px-4">
            <h3 class="h4 md-m-0">CSS Utilities</h3>
        </div>
    </div>
    <div>{% image "src/assets/images/whatsinthebox.png", "Whats Fylgja all has to offer", "medium" %}</div>
    <p class="h3 my-6">Into one Framework</p>
</section>

<div id="usp-points-a11y" class="usp-section container py-6 md-py-8 auto-grid">
    <section class="flex">
        <div class="avatar -icon-rtl me-6">
            {{ "/src/assets/images/icons/format_textdirection_rtl.svg" | svgContents | safe }}
        </div>
        <div>
            <h2>RTL out of the box</h2>
            <p>Fylgja is made with writing direction in mind,<br>so it works with Languages that use a different
                direction
                than LTR.
            </p>
        </div>
    </section>
    <section class="flex">
        <div class="avatar -icon-visibility me-6">
            {{ "/src/assets/images/icons/visibility.svg" | svgContents | safe }}
        </div>
        <div>
            <h2>Web Accessibility in mind</h2>
            <p>
                Each Fylgja component is built with accessibility in mind,<br>
                and Encourages the use of the right HTML syntax.
            </p>
        </div>
    </section>
</div>

{% if support %}
<section id="contact" class="flex flex-col justify-center">
    <div class="container">
        <div class="md-text-center md-mb-7">
            <h2>Get involved on</h2>
        </div>
        <ul class="max-w-content mx-auto p-0 md-flex justify-center md-space-x-6">
            {% for item in support %}
            <li class="inline-block">
                <a href="{{ item.url }}" {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
                    class="text-reset no-underline flex iteme-start space-x-4">
                    {% if item.icon %}
                    <div class="avatar p-2"
                        style="--avatar-bg: {{ item.iconStyle.bg }}; --avatar-color: {{ item.iconStyle.color }};">
                        <svg width="24" height="24" fill="currentColor">
                            <use href="/images/socials.svg#{{ item.icon }}" />
                        </svg>
                    </div>
                    {% endif %}
                    <div class="flex-auto">
                        <h3 class="h5 mt-2 mb-0">{{ item.title }}</h3>
                        <p>{{ item.text | safe }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

{% if collections.componentsFeatured %}
<section id="collection-featured" class="collection-row py-4 my-4 md-my-8">
    <div class="container">
        <div class="md-mb-7">
            <h2 class="mb-1">Our Featured CSS Components</h2>
            <p>
                Our Featured CSS Components, that really show the full potential of what each Fylgja Component can do.<br>
                Want more? <a href="/components/">See the full list of Fylgja CSS Components here.</a>
            </p>
        </div>
        <div class="auto-grid">
            {%- for item in collections.componentsFeatured | sortByOrder -%}
            <a class="card flex-row md-flex-col" href="{{ item.url }}">
                <div class="card-media avatar border md-border-0 my-4 ms-4 md-m-0 aspect-ratio">
                    {% if item.data.preview %}
                    {% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
                    {% image preview, "", "medium" %}
                    {% endif %}
                </div>
                <div class="card-content">
                    <h3 class="h5 my-0">{{ item.data.title }}</h3>
                    {% if item.data.description %}
                    <p class="text-small">{{ item.data.description | truncate(strLimit) }}</p>
                    {% else %}
                    <p class="text-small">{{ item.templateContent | truncate(strLimit) }}</p>
                    {% endif %}
                </div>
            </a>
            {%- endfor -%}
        </div>
    </div>
</section>
{% endif %}
