---
layout: home
style: "
.home-grid {
    --cols-size: 400px;
}

#intro {
    --bg: #f7fafc;
    --container-padding: 4rem 1.25rem;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) #intro {
        --bg: var(--color-bg);
        --img:
            linear-gradient(190deg, rgba(12,57,109,1) 0%, rgba(0,0,0,0) 40%),
            linear-gradient(170deg, rgba(115,22,117,1) 0%, rgba(0,0,0,0) 40%);
    }
}

:root[data-theme=dark] #intro {
    --bg: var(--color-bg);
    --img:
        linear-gradient(190deg, rgba(12,57,109,1) 0%, rgba(0,0,0,0) 40%),
        linear-gradient(170deg, rgba(115,22,117,1) 0%, rgba(0,0,0,0) 40%);
}

#intro .btn {
    font-size: 1.25em;
}

.hero-nav {
    --container-width: 680px;
    --card-color: var(--color-text-alt);
    margin-top: -2.8rem;
}

.hero-nav svg {
    width: 2em;
    height: 2em;
}

#usps {
    --cols-size: 350px;
    --card-radius: 8px;
    --card-elevation: none;
    --card-border: 1px solid rgb(0 0 0 / 12%);
    --avatar-radius: 8px;
}

#contact {
    --height: 300px;
}

#collection-featured .card {
    --aspect-ratio: 4/3;
    --aspect-img: contain;
    --card-elevation: var(--elevation-z1);
    transition: box-shadow 0.2s ease-out;
}

#collection-featured .card:hover {
    --card-elevation: var(--elevation-z4);
}
"
---

<header id="intro" class="section pb-8">
    <div class="container">
        <div class="text-center">
            <h1 class="inline-block h4 mt-0 mb-2 logo">
                {{ "/src/_static/images/long-logo.svg" | svgContents | safe }}
                <span class="aria-only">Fylgja</span>
                <span class="block mt-1">The modular CSS framework that is highly customzable.</span>
            </h1>
            <div class="h5">
                <a href="/getting-started/" class="btn -theme px-4">Get started</a>
            </div>
        </div>
    </div>
</header>

{% if navigation.intro %}
<nav class="hero-nav container mb-5">
    {{ "/src/_static/icons/color-grad.svg" | svgContents | safe }}
    <div class="card divide-y sm-divide-y-none sm-divide-x sm-flex-row">
        {% for item in navigation.intro %}
        <a href="{{ item.url }}"
            {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
            class="card-content sm-w-33 text-reset text-center">
            {% if item.icon %}
                {{ item.icon | svgContents | safe }}
            {% endif %}
            <div class="mt-1">{{ item.text }}</div>
        </a>
        {% endfor %}
    </div>
</nav>
{% endif %}

<section id="usps" class="container my-8">
    <div class="md-text-center md-pt-8 md-mb-8">
        <h2>The experiences you get from using Fylgja</h2>
        <p>
            Fylgja is a very flexable CSS framework.<br>
            that offers alot of features you will also find in other frameworks, Bundled into one framework.
        </p>
        <p>
            And is every extandeble via your own CSS.<br>
            Or useble in other frameworks that you want to extend with Fylgja.
        </p>
    </div>
    {% if usps %}
        <div class="auto-grid my-5">
        {% for item in usps %}
            <div class="card flex-row">
                {% if item.icon %}
                    <div class="card-media md-pr-1 pl-4 py-4">
                        <div class="avatar"
                            style="--avatar-bg: {{ item.iconStyle.bg }}; --avatar-color: {{ item.iconStyle.color }};">
                            {{ item.icon | svgContents | safe }}
                        </div>
                    </div>
                {% endif %}
                <div class="card-content">
                    <h3 class="h5 mb-0">{{ item.title }}</h3>
                    <p>{{ item.description | safe }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</section>

{% if support %}
<section id="contact" class="flex flex-col justify-center">
    <div class="container">
        <div class="md-text-center md-mb-7">
            <h2>Get involved on</h2>
        </div>
        <ul class="list-style -none max-w-content mx-auto md-flex justify-center md-space-x-6">
            {% for item in support %}
            <li>
                <a href="{{ item.url }}"
                    {% if item.external %} rel="noopener noreferrer" target="_blank" {% endif %}
                    class="text-reset no-underline flex items-start space-x-4">
                    {% if item.icon %}
                        <div class="avatar p-2"
                            style="--avatar-bg: {{ item.iconStyle.bg }}; --avatar-color: {{ item.iconStyle.color }};">
                            {{ item.icon | svgContents | safe }}
                        </div>
                    {% endif %}
                    <div class="flex-auto">
                        <h3 class="h5 mt-2 mb-0">{{ item.title }}</h3>
                        <p>{{ item.text | safe }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

{% if collections.componentsFeatured %}
<section id="collection-featured" class="my-4 md-my-8">
    <div class="container">
        <div class="md-text-center md-mb-7">
            <h2>Featured components</h2>
        </div>
        <div class="auto-grid">
            {%- for item in collections.componentsFeatured | sortByOrder -%}
            <a class="card" href="{{ item.url }}">
                <div class="card-media aspect-ratio">
                    {% if item.data.preview %}
                        {% set preview %}{{ meta.componentsMedia }}{{ item.data.preview }}{% endset %}
                        {% image preview %}
                    {% endif %}
                </div>
                <div class="card-content">
                    <h3 class="h5 my-0">{{ item.data.title }}</h3>
                    {% if item.data.description %}
                        <p class="text-small">{{ item.data.description | limit(strLimit) }}</p>
                    {% else %}
                        <p class="text-small">{{ item.templateContent | excerpt(strLimit) }}</p>
                    {% endif %}
                </div>
            </a>
            {%- endfor -%}
        </div>
    </div>
</section>
{% endif %}
