$page-header-height: 71px !default;
$docs-page-mq: 768px !default;
$docs-page-lg-mq: 1024px !default;

.docs-sidebar::-webkit-scrollbar-track {
    margin-top: 1em;
    margin-bottom: 1em;
}

.docs-sidebar {
    .hr {
        opacity: 0.3;
    }
}

@media (min-width: $docs-page-mq) {
    .docs-layout {
        width: calc(100% - 230px);
        padding-inline-end: 1.5rem;
    }

    .docs-sidebar {
        position: sticky;
        top: $page-header-height;
        align-self: flex-start;
        flex: 0 0 auto;
        width: 230px;
        max-height: calc(100vh - #{$page-header-height});
    }
}

@media (min-width: $docs-page-lg-mq) {
    .docs-layout {
        width: calc(100% - 280px);
        padding-inline-end: 3rem;
    }

    .docs-sidebar {
        width: 280px;
    }
}
