.astro-code {
	& span {
		color: var(--shiki-light);
	}
}

@media (prefers-color-scheme: dark) {
	html:not([data-theme="light"]) .astro-code {
		& span {
			color: var(--shiki-dark);
		}
	}
}

.scroll-x {
	td:has(code) + td {
		min-inline-size: 20ch;
	}
}
