.menu {
	--menu-dir: column;
	display: flex;
	flex-flow: var(--menu-dir) wrap;

	& :where(.btn, button) {
		--btn-stroke: transparent;
		justify-content: space-between;
	}

	& :where(li) {
		margin-block: 0;
	}

	& :where(li:has(> details)) {
		margin-block-start: 0.75rem;
	}
}
