---
import Layout from "./PageLayout.astro";

type pageProps = {
	title: string;
	description: string;
};

interface Props extends pageProps {
	frontmatter?: pageProps;
}

const { title, description, frontmatter } = Astro.props;
const pageTitle = frontmatter?.title || title;
const pageDescription = frontmatter?.description || description;
---

<Layout
	title={pageTitle}
	description={pageDescription}
	pageType="article"
	style="--container-size: var(--size-content)"
>
	<article style="--my: 0 var(--size-12)">
		<h1>{pageTitle}</h1>
		<slot />
	</article>
</Layout>
