/**
 * Based on prism.js tomorrow night eighties
 * Which is based on https://github.com/chriskempson/tomorrow-theme
 */

@use "sass:color";
@use "@fylgja/theme" as *;
@use "@fylgja/code" with (
    $pre-bg: #{color.change($color-theme, $lightness: 16%)},
    $pre-color: #{$color-on-theme},
);
@use "syntax";
@use "layout";
@use "@fylgja/scrollbar/helper" as *;

pre {
    @include scrollbar(
        $thumb: color.change(#fff, $alpha: 0.5),
        $track: color.change(#000, $alpha: 0),
        $width: thin
    );

    @media (any-pointer: fine) {
        &:not(:hover):not(:focus) {
            --scrollbar-thumb-color: #{color.change(#000, $alpha: 0)};
        }
    }
}
