<ul role="list" class="auto-grid gap" style="--max-col-size: 14rem">
	<li class="card --hover">
		<img
			src="/images/placeholders/cat.webp"
			alt="A cat lounging in the sun"
			width="500"
			height="300"
			loading="lazy"
		/>
		<p class="lead"><strong>Sunny Cat Wallpaper</strong></p>
		<p class="font-bold">€18.99</p>
		<form action="#" class="flex-wrap gap">
			<input type="hidden" name="product-id" value="cat-01" />
			<button class="flex-auto">Add to cart</button>
		</form>
	</li>
	<li class="card --hover">
		<img
			src="/images/placeholders/fox.webp"
			alt="An orange fox in the grass"
			width="500"
			height="300"
			loading="lazy"
		/>
		<p class="lead"><strong>Orange Fox Wallpaper</strong></p>
		<p class="font-bold">€6.00</p>
		<form action="#" class="flex-wrap gap">
			<input type="hidden" name="product-id" value="fox-01" />
			<button class="flex-auto">Add to cart</button>
		</form>
	</li>
	<li class="card --hover">
		<img
			src="/images/placeholders/dog.webp"
			alt="A dog keeping watch"
			width="500"
			height="300"
			loading="lazy"
		/>
		<p class="lead"><strong>Watchful Dog Wallpaper</strong></p>
		<p class="font-bold">€112.56</p>
		<form action="#" class="flex-wrap gap">
			<input type="hidden" name="product-id" value="dog-01" />
			<button class="flex-auto">Add to cart</button>
		</form>
	</li>
</ul>
