---
import { Image } from "astro:assets";

interface Props {
	image: string;
	imageProps?: {
		position: "before" | "after";
		alt?: string;
		width?: number;
		height?: number;
		loading?: "lazy" | "eager";
	};
}

const { image, imageProps } = Astro.props;
const isAfter = imageProps?.position === "after" ? 1 : 0;
---

<div class="media-text">
	<div class="grid">
		<Image
			src={image}
			alt={imageProps?.alt || ""}
			width={imageProps?.width || 500}
			height={imageProps?.height || 500}
			loading={imageProps?.loading || "lazy"}
			class="mediaTextImg"
		/>
		<div>
			<slot />
		</div>
	</div>
</div>

<style define:vars={{ isAfter }}>
	.media-text {
		container-type: inline-size;
	}

	@container (width >= 640px) {
		.grid {
			--grid: 2;
		}

		.mediaTextImg {
			order: var(--isAfter);
		}
	}
</style>
