@use "@fylgja/mq" as *;
@use "@fylgja/badge";

.component-badges {
    --badge-font-size: 0.825em;
    --badge-radius: 0.35em;
    display: flex;
    flex-wrap: wrap;

    > * {
        margin-right: 0.75em;
        margin-bottom: 0.75em;
    }

    .badge-addon {
        --link-color: var(--badge-color, currentColor);
        --link-color-focus: var(--badge-color, currentColor);
        position: relative;
        text-decoration: none;
        transition: outline-offset 0.2s ease-in-out,
            background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        overflow: hidden;

        &.-git,
        &.-codepen {
            > :not(.-icon) {
                @media ($xs-max) {
                    display: none;
                }
            }
        }

        &:focus,
        &:hover {
            outline-offset: 0.25em;

            &.-git {
                --badge-bg: #111;
                --badge-color: #fff;
            }

            &.-npm {
                --badge-bg: #fdf1f1;
                --badge-color: #cb3837;
            }

            &.-codepen {
                --badge-bg: #111;
                --badge-color: #fff;
            }
        }
    }

    .badge.-icon {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            opacity: 0.1;
        }
    }

    svg {
        width: 1.375em;
        height: 1.375em;
    }
}
