@use "@fylgja/badge";

.badge {
    &.-icon {
        --badge-padding: 0.125em;
    }
}

.component-badges {
    --badge-font-size: 0.825em;
    --badge-radius: 0.375em;
    display: flex;
    flex-wrap: wrap;

    > * {
        margin-right: 0.75em;
        margin-bottom: 0.75em;
    }

    .badge {
        --link-color: var(--badge-color, currentColor);
        --link-color-focus: var(--badge-color, currentColor);
        transition: outline-offset 0.2s ease-in-out,
            background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:focus,
        &:hover {
            outline-offset: 0.25em;

            &.-git {
                --badge-bg: #111;
                --badge-color: #fff;
            }

            &.-npm {
                --badge-bg: #f7f7f7;
                --badge-color: #cb3837;
            }

            &.-codepen {
                --badge-bg: #111;
                --badge-color: #fff;
            }
        }
    }

    svg {
        width: 1.375em;
        height: 1.375em;
    }
}
