@use "@fylgja/card" with (
    $card-elevation: var(--card-elevation, var(--shadow-2)),
    $card-radius: 10px
);

.card:any-link {
    transition: box-shadow 0.2s ease-out;

    &:hover {
        --card-elevation: var(--shadow-4);
    }
}
