.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-style: solid;
    border-color: currentcolor transparent;
    border-width: var(--size, 0.25em) var(--size, 0.25em) 0;

    .is-open > &,
    [open] > summary & {
        border-width: 0 var(--size, 0.25em) var(--size, 0.25em);
    }
}
