@use "@fylgja/shadow" as *;
@use "@fylgja/card" with (
    $card-elevation: var(--card-elevation, #{$shadow-2}),
    $card-radius: 10px
);

.card:any-link {
    transition: box-shadow 0.2s ease-out;

    &:hover {
        --card-elevation: #{$shadow-4};
    }
}
