/**
 * Based on prism.js tomorrow night eighties
 * Which is based on https://github.com/chriskempson/tomorrow-theme
 */

@use "sass:color";
@use "@fylgja/theme" as *;
@use "@fylgja/code";
@use "@fylgja/scrollbar/helper" as *;

pre {
    @media (any-pointer: fine) {
        @include scrollbar($width: thin);

        &:not(:hover):not(:focus) {
            --scrollbar-thumb-color: #{color.change(#000, $alpha: 0)};
        }
    }
}

// stylelint-disable-next-line
@media screen and (max-width: 640px) {
    article pre {
        margin-inline-start: calc(var(--container-padding-x) / -1);
        margin-inline-end: calc(var(--container-padding-x) / -1);
        border-radius: 0;
    }
}
