@use "sass:color";
@use "@fylgja/theme" as *;

$theme-dark: color.change($color-theme, $lightness: 18%);
$theme-dark-alpha: color.change($theme-dark, $alpha: 0.7);
$theme-darker: color.change($color-theme, $lightness: 12%);
$theme-darkest: color.change($color-theme, $lightness: 6%);

$white-softest: color.change(#fff, $alpha: 0.1);
$white-softer: color.change(#fff, $alpha: 0.2);
$white-soft: color.change(#fff, $alpha: 0.5);

@mixin dark-mode {
    --color-bg: #{$theme-darkest};
    --color-text: #fff;
    --color-text-alt: #{color.change(#fff, $alpha: 0.8)};
    --color-text-muted: #{color.change(#fff, $alpha: 0.67)};
    --color-theme: #{color.change($color-theme, $lightness: 24%)};
    --link-color: #{color.change($color-theme, $lightness: 75%)};
    --link-color-focus: currentcolor;
    --selection-bg: #{$theme-dark};
    --code-bg: #{$theme-dark};
    --code-color: #{$color-on-theme};
    --badge-bg: #{color.change($color-theme, $lightness: 24%)};
    --badge-color: #{$color-on-theme};
    --card-bg: #{$theme-dark};
    --card-color: #{$color-on-theme};
    --details-stroke: #{$theme-dark};
    --details-bg: #{$theme-darker};
    --dialog-bg: #{$theme-dark};
    --btn-focus-bg: #{$white-softest};
    --btn-active-bg: #{$white-softer};
    --divide-color: #{$white-softer};
    --menu-item-focus-bg: #{$white-softest};
    --logo-color: #fff;
    --page-header-bg: #{$theme-dark};
    --footer-bg: #{$theme-dark};
    --scrollbar-thumb-color: #{$white-soft};
    --border-color: #{$white-softer};
    --form-focus-color: #fff;
    --shadow-strength: 25%;
    --shadow-color: 220 40% 2%;
    color-scheme: dark;

    @supports (backdrop-filter: blur(1px)) {
        --page-header-bg: #{$theme-dark-alpha};
    }

    pre {
        --selection-bg: #{$white-softest};
    }

    .btn.-theme {
        --btn-focus-bg: #{color.change($color-theme, $lightness: 26%)};
        --btn-active-bg: #{color.change($color-theme, $lightness: 34%)};
    }

    .card:any-link,
    .card-content:any-link {
        --link-color: currentcolor;
        --link-color-focus: currentcolor;
    }

    .searchbox-wrapper {
        --form-stroke: #fff2;
        --form-focus-color: currentcolor;
        --algolia-bg: #{color.change($color-theme, $lightness: 12%)};
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        @include dark-mode;
    }
}

:root[data-theme="dark"] {
    @include dark-mode;
}
