.logo {
    --link-color: currentColor;
    --link-color-focus: currentColor;
    display: inline-block;
    text-decoration: none;

    svg {
        max-width: 100%;
        width: 4.75em;
        height: 2.375em;
    }
}
