@use "@fylgja/shadow" as *;
@use "@fylgja/dialog" with (
    $dialog-elevation: #{$shadow-4}
);
@use "./caret";

#offcanvas-menu {
    --dialog-width: min(350px, 100%);

    .menu.-nested {
        --menu-margin: 0 0 0.5em;
    }
}

::backdrop {
    backdrop-filter: blur(3px);
}
