@use "@fylgja/mq" as *;

.page-footer {
    border-radius: var(--radius-conditional-3) var(--radius-conditional-3) 0 0;
    background-color: var(--footer-bg, var(--color-theme));
    color: var(--footer-color, var(--color-on-theme));

    :any-link {
        color: inherit;
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    > .sub-footer {
        background-color: rgb(0 0 0 / 10%);
    }
}

.main-footer {
    --cols-size: 160px;

    @media ($xs) {
        --cols: repeat(2, 1fr);
    }

    @media ($md) {
        --cols: repeat(4, 1fr);
    }
}
