@use "@fylgja/mq" as *;

.page-header {
    z-index: 6;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    background-color: var(--page-header-bg, hsl(0deg, 0%, 100%, 70%));
    backdrop-filter: blur(12px);

    .icons {
        --page-header-icon-size: 1.25em;

        @media ($sm) {
            --page-header-icon-size: 1.5em;
        }

        svg {
            width: var(--page-header-icon-size);
            height: var(--page-header-icon-size);
        }

        .offcanvas-menu-icon {
            --page-header-icon-size: 1.5em;

            @media ($sm) {
                --page-header-icon-size: 1.75em;
            }
        }
    }
}
