@use "@fylgja/mq" as *;

$sl: "min-width: 2500px" !default;

@media ($xxl) {
    :root {
        --scroll-offset: 6rem;
        --container-size: 1440px;
        --font-size: 1.125rem;
    }
}

@media ($sl) {
    :root {
        --scroll-offset: 8rem;
        --container-size: 1620px;
    }
}
