.token:is(.important, .bold) {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

@mixin light-mode {
    .token:is(.comment, .prolog, .doctype, .cdata) {
        color: #616f7d;
    }

    .token.punctuation {
        color: #6d6d6d;
    }

    .token.namespace {
        opacity: 0.7;
    }

    .token:is(.property, .tag, .boolean, .number, .constant, .symbol, .deleted) {
        color: #905;
    }

    .token:is(.selector, .attr-name, .string, .char, .builtin, .inserted) {
        color: #517900;
    }

    .token:is(.operator, .entity, .url),
    :is(.language-css, .style) .token.string {
        color: #8e6535;
    }

    .token:is(.atrule, .attr-value, .keyword) {
        color: #00577c;
    }

    .token:is(.function, .class-name) {
        color: #bf405a;
    }

    .token:is(.regex, .important, .variable) {
        color: #c04800;
    }
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme]) {
        @include light-mode;
    }
}

:root[data-theme="light"] {
    @include light-mode;
}

@mixin dark-mode {
    .token:is(.comment, .block-comment, .prolog, .doctype, .cdata) {
        color: #999;
    }

    .token.punctuation {
        color: #ccc;
    }

    .token:is(.tag, .attr-name, .namespace, .deleted) {
        color: #e2777a;
    }

    .token.function-name {
        color: #6196cc;
    }

    .token:is(.boolean, .number, .function) {
        color: #f08d49;
    }

    .token:is(.property, .class-name, .constant, .symbol) {
        color: #f8c555;
    }

    .token:is(.selector, .important, .atrule, .keyword, .builtin) {
        color: #cc99cd;
    }

    .token.selector.placeholder {
        color: #7dc497;
    }

    .token:is(.string, .char, .attr-value, .regex, .variable) {
        color: #7ec699;
    }

    .token:is(.operator, .entity, .url) {
        color: #67cdcc;
    }

    .token.inserted {
        color: green;
    }

    .token.variable {
        color: #f8c555;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        @include dark-mode;
    }
}

:root[data-theme="dark"] {
    @include dark-mode;
}
