@use "./theme";
@use "./fonts";
@use "./tokens";
@use "@fylgja/aria-only/helper" as aria-only-config with (
    $enable-aria-only-mq: true
);

@use "./print";
@use "./skip-link";
@use "@fylgja/base" with (
    $family-main: (
        Rubik,
        Roboto,
        system-ui,
        sans-serif,
    ),
    $font-weight: 350,
    $h1-font-weight: 450,
    $h2-font-weight: 500,
    $h3-font-weight: 500
);

@use "@fylgja/list";

@use "@fylgja/button" with (
    $btn-padding: 0.5rem 1rem,
    $btn-border-size: 2px
);
@use "@fylgja/avatar";
@use "card";

@use "@fylgja/container";
@use "@fylgja/auto-grid";
@use "@fylgja/section" with (
    $enable-section-theme: false
);

@use "./masks";

@use "./logo";
@use "./code";
@use "./page-footer";

@use "@fylgja/aspect-ratio";
@use "@fylgja/scrollbar";
@use "@fylgja/hashlink" with (
    $hashlink-scroll-offset: 6rem
);

@use "color-scheme";
@use "screen";

@use "@fylgja/aria-only";
@use "@fylgja/utilpack" with (
    $utilpack: (
        "gap": (
            "values": (
                "0": 0,
                "1": 0.25em,
                "2": 0.5em,
                "3": 0.75em,
                "4": 1em,
                "5": 1.25em,
                "6": 1.5em,
                "7": 1.75em,
                "8": 2em,
                "9": 2.25em,
                "10": 2.5em,
                "11": 2.75em,
                "12": 3em,
            ),
            "responsive": true,
        ),
    )
);

// TEMP for v1.3

@keyframes marquee {
    to {
        translate: calc(-100% - var(--_gap));
    }
}

.marquee {
    --_gap: 2.5rem;
    --_dir: row;
    --_speed: 60s;
    display: flex;
    flex-direction: var(--_dir);
    gap: var(--_gap);
    overflow: hidden;
}

.marquee.-reverse .marquee-item {
    animation-direction: reverse;
}

.marquee-item {
    display: flex;
    flex-direction: var(--_dir);
    align-items: center;
    gap: var(--_gap);
    flex-shrink: 0;
    animation: marquee var(--_speed) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .marquee-item {
        animation-play-state: paused;
    }
}
